{% extends "base_portal.html" %}
{% block body %}
{% if event %}
<div class="well">
<h2>BUDGET PORTAL</h2>
<h5>Here you can propose three budget plans for your event.</h5><br>
<h5>CHOOSE PLAN TO UPDATE</h5><br>
{% for plan1 in plans %}
{% ifnotequal plan1.name 'F' %} 
	{% if plan1.name == plan %}
	<a  class="btn btn-info" href="{% url finance.views.budget_portal plan=plan1.name %}" >PLAN {{plan1.name}}</a>
	{% else %}
<a  class="btn btn-action" href="{% url finance.views.budget_portal plan=plan1.name %}" >PLAN {{plan1.name}}</a>
	{% endif %}
{% endifnotequal %}
{% endfor %}
<div class="pull-right">
<a  class="btn " href="{% url finance.views.display event_name=department.Dept_Name %}" >Display all plans</a>
</div>
</div>
<br>

{% if form_saved %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
	Plan saved successfully    
	</div>

{% endif %}
{% if error %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error</strong> Data not saved, Please check your inputs
    </div>
{% endif %}



{% if form_selected %}
<h3>PLAN {{curr_plan.name}}</h3>
<form action="" method="POST">
{% csrf_token %}
	
</br>
<h4>Items</h4>
{{itemformset.management_form}}
   <table class="table table-bordered"> 
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Amount</th>
	</tr>	
	</thead>
<tbody>
<div class="budgettextarea">
	{% for itemform in itemformset %}
<tr>
		{% for field in itemform %}
			<td>{{field}}</td>
		{% endfor %}
</tr>  
	{% endfor%}
</div>
</tbody>
</table>
<div class="pull-right">
<input type="submit" class="btn btn-info" value="Add more items"/>
</div>
{{budgetclaimform}}
</br>
</br>
<input type="submit" class="btn btn-primary" value="Save Plan"/>
</form>
{% endif %}

{% endif %}

{% if finance %}
<h3>Welcome to Budget Portal</h3>
</br>
Please click on the event name whose budget plans you want to see and update
{% for dept in departments %}
	</br>
	</br>
	<a href="{% url finance.views.display event_name=dept.Dept_Name %}">{{dept}}</a>
{% endfor %}
{% endif %}

{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
<br>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>

{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
