{% extends "base_portal.html" %}
{% block body %}


<table class="table table-striped table-bordered table-condensed">
	<tbody>
{% for budget in budgets %}
		<tr>
			<td><h4>{{budget.name}}</h4></td>
			<td>{{budget.total_amount}}</td>
			<td>{{budget.department}}</td>
			<td>{{budget.comment}}</td>
		</tr>
{% for item in items %}	
{% ifequal item.budget budget %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.budget.name}}</td>
			<td>{{item.department}}</td>
			<td>{{item.description}}</td>
		</tr>
{% endifequal %}			
{% endfor %}			
{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
