{% extends "base_portal.html" %}
{% block body %}


<style>
textarea{ width: 250px; height: 60px;}
</style>


	
{% for budget in budgets %}
{% ifnotequal budget.name 'F' %}
<h3>Plan {{budget.name}}</h3>
<h4>Total Amount: {{budget.total_amount}}</h4>
<table class="table table-striped table-bordered table-condensed">
<thead>
		<tr>
		<th>Items Name</th>
		<th>Description</th>
		<th>Amount</th>	
    	</tr>
</thead>
<tbody>
{% for item in items %}	
{% ifequal item.budget budget %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.description}}</td>
			<td>{{item.original_amount}}</td>
		</tr>
{% endifequal %}			
{% endfor %}
</tbody>
</table>	
<h4>comments:</h4> <p>{{budget.comment}}</p>
</br>
{% endifnotequal %}
{% endfor %}
    </tbody>
</table>

{% if finance %}
</hr>
<div>
<h3>Finance' budget plan for the event</h3>
{% if form_saved %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
	Plan saved successfully    
	</div>

{% endif %}
{% if error %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error</strong> Data not saved, Please check your inputs
    </div>
{% endif %}
<form action="" method="POST">
{% csrf_token %}
	
</br>
<h4>Items</h4>
{{itemformset.management_form}}
   <table class="table table-striped table-bordered table-condensed"> 
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Amount</th>
		<th> </th>
		<th>Delete?</th>
	</tr>	
	</thead>
<tbody>
<div class="budgettextarea">
	{% for itemform in itemformset %}
<tr>
		{% for field in itemform %}
			<td>{{field}}</td>
		{% endfor %}
</tr>  
	{% endfor%}
</div>
</tbody>
</table>
<div class="pull-right">
<input type="submit" class="btn btn-info" value="Add more items"/>
</div>
{{budgetclaimform}}
</br>
</br>
<input type="submit" class="btn btn-primary" value="Save Plan"/>
</form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
