{% extends "base_portal.html" %}
{% block body %}
<h3>Plan A</h3>
<form action="" method="POST">
{% csrf_token %}
<div class="well">
<table>
	{{budgetclaimform.as_table}}
</table>
</div>
<h4>Items</h4>
<div class="well">
{{itemformset.management_form}}

<table>
	{% for itemform in itemformset %}
	{{itemform}}
	{% endfor%}
</table>
</div>
</form>

{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
