{% extends "base_portal.html" %}
{% block tabs %}

<style>
textarea{ width: 250px; height: 60px;}
input{width:100px; height:25px;}
</style>

    <ul id="finance" class="nav nav-tabs">
        <li class="active"><a href="#budget" data-toggle="tab"><i class="icon-list-alt"></i>Budget</a></li>
        <li><a href="#advance" data-toggle="tab"><i class="icon-repeat"></i>Advance Request</a></li>
    </ul>
    <div id="financeContent" class="tab-content">
        <div class="tab-pane fade in active" id="budget">

            {% block tab1 %}
            {% endblock %} 

        </div>
        <div class="tab-pane fade" id="advance">
            {% block tab2 %}
            {% endblock %}       
        </div>
    
    
    </div>

    
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_finance");
    var e = document.getElementById("li_finance_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
