
body{
    background-image:url('../images/bg.png');
    background-repeat:-x -y;
    font-family : Verdana;
}
#top{
    width:615px;
    margin:20px auto 20px auto;
    text-align:center;
    height:40px;
}

.button{
    width:92px;
    height:20px;
    font-size:14px;
    font-family:"Trebuchet MS";
    color:#ffffff;
    float:left;
    background-image:url('../images/button.png');
    background-repeat:no-repeat;
    text-align:center;
    margin-right:3px;
    padding:2px 0px 2px 0px;
}


#main{
   position:absolute;
   top:100px;
   left:300px;
    margin:2px auto 2px auto;
    text-align:left;
    width:800px;
    height:480px;
    padding:10px 0 0 25px;
    font-family:"Arial";
    font-weight:bold;
    color:#444;
    font-size:100%;
}
#main_edit_profile{
   position:absolute;
   top:130px;
   left:300px;
    margin:2px auto 2px auto;
    text-align:left;
    width:800px;
    height:480px;
    padding:10px 0 0 25px;
    font-family:"Arial";
    font-weight:bold;
    color:#444;
    font-size:100%;
}
#left_panel2
{
position:absolute;
left:130px;
top:140px;
font-size:110%;
}


table{
    /* margin-left : auto; */
    margin-right : auto;
    margin-top:20px;
}
tr{
    /* margin-top:10px; */
}
td{
    height:30x;
    /* font-size:18px; */
}
#name, #nick{
    padding:6px 10px 6px 10px;
    border:none;
    background-image:url('../images/input-field_s.png');
    background-repeat:no-repeat;
}
#RNO, #Cph, #email,#RmNO,#hostel, #SPOS, #Sph{
    padding:6px 10px 6px 10px;
    border:none;
    background-image:url('../images/input-field.png');
    background-repeat:no-repeat;
}
select{
    padding:2px;
    font-family:"Cambria";
    font-size:14px;
    /* background-image:url('../images/select-field.png'); */
    background-repeat:no-repeat;
}



.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
    background: transparent url('../images/radio.png') 0 1px no-repeat;
    display:inline-block;
}

.ez-radio {
    background: transparent url('../images/radio.png') 0 0px no-repeat;
    display:inline-block;
}
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
.ez-checked { background-position: 0 -17px; }
.ez-selected { background-position: 0 -19px; }

.ez-checkbox-green {
    background: transparent url('../images/radio.png') 0 2px no-repeat;
    display:inline-block;
}
.ez-checked-green { background-position: 0 -18px; }


#toppage{
    position:relative;
    height:32px;
    width:800px;
    margin:10px auto -18px auto; 
    background-image:url('../images/images/div_bg_top.png');
    background-repeat:no-repeat;
}

#contacts{
    position:relative;
    font-family:"Tahoma";
    width:800px;
    margin:0px auto 0px auto; 
    
    background-image:url('../images/images/div_bg.png');
    background-repeat:repeat-y;
}
#bottom{
    height:35px;
    width:800px;
    margin:-18px auto 10px auto; 
    background-image:url('../images/images/div_bg_bottom.png');
    background-repeat:repeat-y;
}
.main_contact_box{
    position:relative;
    left:30px;
}


ul{
    border-left:solid 0.5mm #888;
    list-style-type:none;
    list-style-image:urls('../images/plus.png');
}

li.second{
    position:relative;
    left:30px;
}


li.active{
    position:relative;
    left:30px;
}


    

/* For Task/
Subtask creation/editing */
.delete-checkbox{
    display : none;
}

.to-be-deleted {
    background-color : red;
}

/* For Dashboard */
/* #content { */
/*     margin-left : 10em; */
/*     margin-right : 10em; */
/* } */

.sidebar-left {
    float : left;
    width : 10em;
}

.sidebar-right {
    float : right;
    width : 10em;
}

.core-portal-stuff {
    width : auto;
}

.global-content {
    width : 80%;
    margin : 0 auto;
    font-family : Verdana;
    margin-top : 5px;
}

h1, h2, h3, h4, p {
    /* margin-left : auto; */
    /* margin-right : auto; */
    /* text-align : center; */
}

#topBar {
    margin-top : 11px;
    width : auto;
    height: 30px;
}

#bottomBar {
    clear : both;
    width : 100%;
    text-align : center;
}

/* Just copied from FB */
#blueBar {
    margin : 0;
    background-color: #3B5998;
    height: 41px;
    left: 0;
    top : 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.lFloat {
    float : left;
}

.rFloat {
    float : right;
}

#pageLogo {
    margin-right : 10px;
    font-family : Verdana;
    font-size : 20px;
    color : white;
}

#greeting, #navigation, #logout {
    color : white;
    margin-top : 10px;
}

a#logout:visited {
    color : white;
}

a#logout:link {
    color : white;
}
