{% extends "base_default.html" %}

{% block body %}
<div class="warnings">
<table style="width: 570px; height: 823px;" cols="4">
<colgroup><col width="283"><col width="91"><col width="95"><col
width="91"></colgroup> <tbody>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20" width="283"><b><font face="Arial">Event </font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
width="91"><b><font face="Arial">Phase 1</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" colspan="2"
align="center" width="185"><b><font face="Arial">Phase 2</font></b></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial">Closes on</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial">Opens on </font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial">Closes on</font></b></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Aerofest</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial"><br>
</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial"><br>
</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><b><font
face="Arial"><br>
</font></b></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Aerobotics</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Top Gun</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Wright Design</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Coding </font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Automania</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Hackfest</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Online Programming Contest</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Sim Champ</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">19th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Design</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Desmod</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">IDP(Shell)</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">12th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">IDP(GE)</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">12th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">IRP-Telecom</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Infrafest</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Design and Build</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Contraptions</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Da Vinci Machine</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Fire n Ice</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">4th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Robotics_Amazon Mystified</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Robotics_Octagon Mission</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Robotics_Takeshi's Castle</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">3rd Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">5th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">10th Sep</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Shaastra Circuit Design Challenge'</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">25th Aug</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">N/A</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">N/A</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Engage</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Ignobel</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">15th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">IQ</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">7th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Impact</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Anveshana</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">8th Sep</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><b><font face="Arial">Workshops</font></b></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
color="#000000"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
color="#000000"><br>
</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
color="#000000"><br>
</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Astronomy workshop</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Biomimicry workshop</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Electrofrolics</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"
height="20"><font face="Arial">Forensics workshop</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
<td style="border: 1px solid rgb(26, 26, 26);" align="left"><font
face="Arial">***</font></td>
</tr>
<tr>
<td
style="border-top: 1px solid rgb(26, 26, 26); border-left: 1px solid rgb(26, 26, 26); border-right: 1px solid rgb(26, 26, 26);"
align="left" height="20"><font face="Arial">Smart materils workshop</font></td>
<td
style="border-top: 1px solid rgb(26, 26, 26); border-left: 1px solid rgb(26, 26, 26); border-right: 1px solid rgb(26, 26, 26);"
align="left"><font face="Arial">***</font></td>
<td
style="border-top: 1px solid rgb(26, 26, 26); border-left: 1px solid rgb(26, 26, 26); border-right: 1px solid rgb(26, 26, 26);"
align="left"><font face="Arial">***</font></td>
<td
style="border-top: 1px solid rgb(26, 26, 26); border-left: 1px solid rgb(26, 26, 26); border-right: 1px solid rgb(26, 26, 26);"
align="left"><font face="Arial">***</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" colspan="4"
align="left" height="42" valign="middle"><font color="#000000">*** :
Deadline/Procedure for the event registration will be released soon</font></td>
</tr>
<tr>
<td style="border: 1px solid rgb(26, 26, 26);" colspan="4"
align="left" height="61"><font color="#000000">Teams which have not
qualified/applied during the first phase of TDP selections can apply
with modified TDP's during the second phase again </font></td>
</tr>
</tbody>
</table>

Click <a href="{{ SITE_URL }}/home/">here</a> to go back to the home page.
</div>
{% endblock %}
