



<!--PHP SESS_ID : {{ session_keys }} </br>--->
<!--DJANGO SESS ID : {{ key }} </br>-->
<!---{{variables}} </br>--->


<!--{% if logged_in %}

<div class="info">
 You have successfully logged in.
</div>
{%endif%}
    {% if already_logged %}
<div class="errors">
 You have already logged in.
</div>
{%endif%}
    -->
   
<div class="register">

 <h1 align="center">
  Shaastra 2011 erp
 </h1>
 <p align="center">
  Welcome  
 </p>
 <br />
 <br />

<body>
<form action="/login/" method="POST">
<h5>{{enter}}</h5>

<table>
</table>
<br>
ENTER YOUR NAME:<input type="text" name="user">
<br>
ENTER YOUR PASSWORD:<input type="password" name="password">
<br>
RE-ENTER YOUR PASSWORD:<input type="password" name="password_again">
<br>
<!-- yet to include other form details -->

<input type =  "submit" value="sign">
</form>



