<!--PHP SESS_ID : {{ session_keys }} </br>--->
<!--DJANGO SESS ID : {{ key }} </br>-->
<!---{{variables}} </br>--->


<!--{% if logged_in %}

    <div class="info">
      You have successfully logged in.
    </div>
    {%endif%}
    {% if already_logged %}
    <div class="errors">
      You have already logged in.
    </div>
    {%endif%}
    -->

{% if user.is_authenticated %}
You are logged in Click <a href="{% url tasks.views.display_portal %}"> Here</a> to visit your Dashboard.     
{% endif %}

<div class="register">
  <h1 align="center"> Shaastra ERP </h1>
  <p align="center"> Welcome to our site </p>
  <br />
  <br />
  {% if registered_successfully %}
  <h3>You have successfully registered with Shaastra Works ERP, {{ user.get_profile.name }} !</h3>
  {% endif %}
  <p align="Center"> Not registered yet?
    <a href="{% url users.views.register_user %}">Register Now</a>
    <br>
  </p>
  <p align="Center"> Already Registered, then Click Here to Log in.
    <a href="{% url home.views.login %}">Login Now</a>
  </p>
</div>

