{% extends "base.html" %}

{% block body %}
<!--PHP SESS_ID : {{ session_keys }} </br>--->
<!--DJANGO SESS ID : {{ key }} </br>-->
<!---{{variables}} </br>--->


<!--{% if logged_in %}

    <div class="info">
      You have successfully logged in.
    </div>
    {%endif%}
    {% if already_logged %}
    <div class="errors">
      You have already logged in.
    </div>
    {%endif%}
    -->

<div class="register">
  <h1 align="center"> Shaastra ERP </h1>
  <p align="center"> Welcome to our site </p>
  <br />
  <br />

{% if user.is_authenticated %}
<p align="center">You are logged in Click <a href="{% url tasks.views.display_portal owner_name=user %}"> Here</a> to visit your Dashboard.</p>
{% else %}

  {# This doesn't work! #}
  {% comment %}
  <p align="Center"> Not registered yet?
    <a href="{% url users.views.register_invite owner_name=user %}Events">Register Now</a>
    <br>
  </p>
  {% endcomment %}

  <p align="Center"> Already Registered, then Click Here to Log in.
    <a href="{% url home.views.login %}">Login Now</a>
  </p>
</div>
{% endif %}
{% endblock body %}
