
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shaastra | ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">    

<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-image-gallery.min.css">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: #00001A;
      }
      
      .span4
      {
      padding-top: 10px;
      padding-left: 0px;
      padding-bottom: 50px;
      }

      
            
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
  <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">

  </head>

  
<body>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Shaastra | ERP</h1>
         <br/>
        <p>Shaastra isn’t just a tech fest. To put it simply, it’s a one-year long institution of sorts. Like every other institution then, it’s governed by a hierarchy. Shaastra presents its Enterprise Resource Planner to make things more fluid.</p>
        <div class="row">
        <div class="span10">
        <a class="grow" href="https://www.facebook.com/Shaastra" id="fb-social">
	    <img id="fb-img" src = "{{ MEDIA_URL}}images/facebook.png"></a>
		 <a class="grow" href="https://twitter.com/#!/shaastra_2011" id="tw-social">
		    <img id="tw-img" src = "{{ MEDIA_URL}}images/twitter.png"></a>
         <a class="grow" href="http://www.youtube.com/iitmshaastra" id="yt-social">
            <img id="yt-img" src = "{{ MEDIA_URL}}images/youtube.png"></a>
        <a id="shaastra-button" class="btn btn-primary btn-large pull-right" href="http://www.shaastra.org">Go to Shaastra &raquo;</a>
        </div>
        </div>
      </div>

      <!-- Example row of columns -->
        
      
     <div class = "row"> 
        
{% if user.is_authenticated %}
<p align="center">You are logged in Click <a href="{% url tasks.views.display_portal owner_name=user %}"> Here</a> to visit your Dashboard.</p>
{% endif %}

        
        <div class="span4 offset4">
        <form action="" method="POST" class ="form-vertical well">
        {% csrf_token %}

		{{ form.username.label_tag }} {{ form.username }}<br>
    	<div id="Username_div" style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
		  {% if form.username.errors %}
		  {% for error in form.username.errors %}
		  {{ error|escape }}
		  {% endfor %}
		  {% endif %}
		</div>
        <br/>
		{{ form.password.label_tag }} {{ form.password }}<br>
		<div id="Password_div" style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
		  {% if form.password.errors %}
		  {% for error in form.password.errors %}
		  {{ error|escape }}
		  {% endfor %}
		  {% endif %}
		</div>
         <br/>
		<input type = "submit" class="btn btn-primary" value="Login">
		<a href="{% url home.views.forgot_password %}" class="pull-right">Forgot Password</a>
		<br>
	  {% if invalid_login %}
	  <br />
	  <div style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
	    <br />
	    Invalid username or password. Please try again.
	    <br/>
	  </div>
	  {% endif %}
		{% if redirected %}
        <div class="errors" id="login_first">
            <b>
                <br/>You must login first.
            </b>
        </div>
        {% endif %}
    	<div id="login_message" style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
        {% if invalid_login_message %}
        {{ invalid_login_message }}
        {% endif %}
        </div>	
	</div>

		
	</form>
       </div>
<hr>      

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
<ul class="thumbnails">
    <li class="grow">
      <a href="http://placehold.it/100x800" title="Placeholder 1" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/200x800" title="Placeholder 2" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/300x800" title="Placeholder 3" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/400x800" title="Placeholder 4" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/500x800" title="Placeholder 5" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/600x800" title="Placeholder 6" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/700x800" title="Placeholder 7" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/800x800" title="Placeholder 8" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/800x700" title="Placeholder 9" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/800x600" title="Placeholder 10" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/800x500" title="Placeholder 11" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
    <li class="grow">
      <a href="http://placehold.it/800x400" title="Placeholder 12" rel="gallery">
        <img alt="" src="http://placehold.it/70x60">
      </a>
    </li>
</ul>
</div>   
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <center>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
        </center>
    </div>
</div>
    </div> <!-- /container -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap.js"></script><!--make it bootstrap.min.js when deployed-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-image-gallery.min.js"></script>

  </body>
</html>
