{% load i18n %}{% load url from future %}{% autoescape off %}
Shaastra ERP was instructed to reset your password. Please click the link below and enter your new password. Ignore this email if you did not authorize this.
Note: This is link is valid only once.

Username: {{ user.username }}
{% block reset_link %}
{{ protocol }}://erp.shaastra.org{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Thanks,
Shaastra-Web-Operations, 2013


{% endautoescape %}
