{% extends 'registration/password.html' %}
{% block body %}
<form action="/forgot_password/" method="post">{% csrf_token %}{% if form.email.errors %}
<div class="btn btn-large btn-danger disabled">{{ form.email.errors }}</div>
{% endif %}
<p><label for="id_email"><strong><h4><u>Your Email Address:</u></h4></strong><br> </label> {{ form.email }} <input type="submit" class="btn btn-inverse" value="Reset My Password" /></p>
</form> 
Please use your smail address if your email doesn't work or contact us at webops@shaastra.org
<br>
<a class='pull-right' href='/'> Go Back </a> <br>
{% endblock %}

