<html>
<head>
<link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">    

<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
<meta charset="utf-8">
    <title>Shaastra | ERP - Alpha Release</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<style type ="text/css">
#id_email {
      width:250px;  
      height:40px;
      }
body {
    background: #00001A;
    }
.fcenter {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    }
</style><center>
<div class="span4 fcenter">
<div class="well">
{% block body %}
{% endblock %}
</div>  
</div>  
</center>
</body>

