{% extends "base_portal.html" %}
{% block body %}

<style>
textarea{ width: 250px; height: 60px;}
input{width:100px; height:25px;}
</style>

<h4>Please click on the event name whose facilities requirements you want to see</h4>

{% for dept in departments %}
	{% if dept.Dept_Name in new_objects %}
	<a class="btn btn-danger" href="{% url facilities.views.approve_event event_name=dept.id form_saved=0 error=0 %}">{{dept}}</a>
	{% endif %}
	{% if dept.Dept_Name in changed_objects %}
	<a class="btn btn-warning" href="{% url facilities.views.approve_event event_name=dept.id form_saved=0 error=0 %}">{{dept}}</a>
	{% endif %}
	{% if dept.Dept_Name in exists_objects %}
	<a class="btn btn-success" href="{% url facilities.views.approve_event event_name=dept.id form_saved=0 error=0 %}">{{dept}}</a>
    {% endif %}
	{% if dept.Dept_Name not in exists_objects %}
	<a class="btn" href="{% url facilities.views.approve_event event_name=dept.id form_saved=0 error=0 %}">{{dept}}</a>
    {% endif %}
{% endfor %}
<br/><br/>
<b>Note on colour codes :-</b><br/>
<ol>
<li><p>Red indicates an Event with item requests, atleast one of which has no nummber of items approved</p>
</li>
<li><p>Yellow indicates an Event with an item request, of which all atleast one of which has items granted but not the requested number of items</p></li>

<li/><p>Green indicates an Event with all item requests fully granted.</p>
</li>
</ol>
{% endblock %}
{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_finance");
    var e = document.getElementById("li_finance_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
