{% extends "base_portal.html" %}
{% block body %}


<style>
textarea{ width: 250px; height: 60px;}
input{width:100px; height:25px;}
</style>
<h2>{{dept.Dept_Name}} - Facilities Home</h2>
<div class="pull-right">
<a  class="btn " href="{% url facilities.views.add_round event_id=dept.id %}" >Add A New Round</a>
</div>
<br/><br/>
{% for round in eventrounds %}
<a class="btn btn-inverse" href="{% url facilities.views.approve_event round_id=round.id form_saved=0 error=0 %}">{{round.name}}</a>

{% endfor %}
<br/><br/>
<div class="pull-right">
    <a class="btn btn-primary" href={% url facilities.excelViews.generate_event_excel event_id=dept.id %}>Download an Excel Summary Of   Event Requirements</a>
    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_facilities");
    var e = document.getElementById("li_facilities_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}

