{% extends "base_portal.html" %}
{% block body %}


<style>
textarea{ width: 250px; height: 60px;}
input{width:100px; height:25px;}
</style>

<p>Yo</p>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_facilities");
    var e = document.getElementById("li_facilities_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}

