<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Shaastra ERP
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
   {{ title }}
  </title>
 
  <link rel="top" title="Shaastra ERP" href="{{SITE_URL}}/erp" />

 </head>


 <body>
  <div id="screen">.</div>
  <div id="maincontainer">
   {% block topbar %}
            {% endblock %}
   <div id="wrapper2">
    <div id="wrapper1">
     <div id="contentwrapper">
      <div id="contentcolumn">
       <div class="innertube">
        {% block profile %}
             {% endblock %}
	    <div class="errors">
         
        </div>
             {% block body %}
             {% endblock %}
       </div>
      </div>
     </div>
     <div id="sidebar">
      {% block sidebar-navigation %}
                {% endblock %}
     </div>
     <div class="clear">
      &nbsp;
     </div>
    </div>
   </div>
   <div id="footer-top">
    <div class="innertube">
    </div>
   </div>
   <div id="footer">
    <div id="footer-left">
     <div id="footer-content">
      <div>
       <a class="bottomlinks" href="{{SITE_URL}}/erp/home/">
        Home&nbsp;|
       </a>
       <a class="bottomlinks" href="{{SITE_URL}}/erp/users/register/">
        Register&nbsp;|
       </a>
       <a class="bottomlinks" href="{{SITE_URL}}/erp/dashboard/home">
        Dashboard&nbsp;|
       </a>

      </div>

      <div id="footer-content-right">
       by WebOps & WebDesign Teams
      </div>
     </div>
    </div>
    <div id="footer-right">
    </div>
   </div>
   <!---<div id="footer-wrap">
        
        <div class="footer-left">
            <p class="align-left">			
            &copy; 2010, <strong><a href="http://www.iitm.ac.in">Indian Institute of Technology, Chennai</a></strong><br  />
            </p>		
        </div>
        
        <div class="footer-right">
            <p class="align-right">
            Shaastra: <a href="http://www.shaastra.org/2010/">Home</a>&nbsp;|&nbsp;
            <a href="http://www.shaastra.org/2010/Events">Events</a>&nbsp;|&nbsp;
            <a href="http://www.shaastra.org/Blog">Blog</a>
            </p>
        </div>
    </div>--->
  </div>
 </body>
</html>
