{% extends "base_portal.html" %}


{% block tabs %}


    
							<div class="tabbable span12">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#tabs1-pane1" data-toggle="tab">Core Requests</a></li>
									
									<li><a href="#tabs1-pane3" data-toggle="tab">Updates</a></li>
									<li><a href="#tabs1-pane4" data-toggle="tab">Timeline</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tabs1-pane1">
										<h2> Core Requests </h2>
                                                            {% if all_SubTasks %}
                                                            <table class="table table-striped table-bordered span7">
                                                            <thead>
                                                            <tr>
                                                            <th>Subject</th>
                                                            <th> Proposer </th>
                                                            <th> Deadline </th>
                                                            <th> Status </th>
                                                            
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for subtask in all_SubTasks %}
                                                            <tr>
                                                            <td><a href="{% url tasks.views.edit_subtask subtask_id=subtask.id owner_name=page_owner %}"> {{ subtask.subject }} </a></td>
                                                            <td>{{ subtask.creator.get_profile.name }}</td>
                                                            <td>{{ subtask.deadline }}</td>
                                                            <td>{{ subtask.status }}</td>
                                                            
                                                            </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                            </table>
    
    
    {% else %}
    <h4>No Requests from the Core yet.</h4>
    {% endif %}
									</div>
									
									<div class="tab-pane" id="tabs1-pane3">
										{% include "tasks/updates.html" %}
									</div>
									<div class="tab-pane" id="tabs1-pane4">
										{% include "tasks/timeline.html" %}
									</div>
								</div><!-- /.tab-content -->
							</div><!-- /.tabbable -->
						





 

{% endblock tabs %}




