<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
<style type = "text/css" >


</style>
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.5.2-min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/script.js"></script>
  {% block javascript_stuff %}
  
  {% endblock %}
  <title></title>
 </head>
 <body id="page">


  <div id="top">
   <div id="header">
    <a href="{% url tasks.views.display_portal %}"><div class="button">Dashboard</div></a>
    <a href="{% url tasks.views.display_department_portal %}"><div class="button">Department</div></a>

    <a href="{% url users.views.invite %}"><div class="button">Invite</div></a>
    <a href="#"><div class="button">Policies</div></a>
    <a href="#"><div class="button">Website</div></a>
    <a href="{% url users.views.contact_details %}"><div class="button">Profile</div></a>
    <a href="{% url dashboard.views.details %}"><div class="button">Contacts</div></a>
    <a href="{% url dashboard.views.upload_file %}"><div class="button">Documents</div></a>
    <a href="{% url home.views.logout %}"><div class="button">Logout</div> </a>
      
   </div>
  </div>

{% block body %}
{% endblock %}
</body>
</html>
