<div class="sidebar-left">
  <ul>
    <li>
      <a href="{% url tasks.views.display_portal %}">
	Dashboard
      </a>
    </li>
    <li>
      <a href="{% url tasks.views.display_department_portal %}">
	Department
      </a>
    </li>
    <li>
      <a href="{% url users.views.invite %}">
	Invite
      </a>
    </li>
    <li>
      <a href="#">
	Policies
      </a>
    </li>
    <li>
      <a href="#">
	Website
      </a>
    </li>
    <li>
      <a href="{% url users.views.view_profile %}">
	Profile
      </a>
    </li>
    <li>
      <a href="{% url dashboard.views.display_contacts %}">
	Contacts
      </a>
    </li>
    <li>
      <a href="{% url dashboard.views.upload_file %}">
	Documents
      </a>
    </li>
    
  </ul>
</div>
