
<li id="li_dashboard">
    <a href="{% url tasks.views.display_portal owner_name=user %}"><i class="icon-star" id="li_dashboard_icon"></i> Dashboard </a>
</li>
<li id="li_department">
    <a href="{% url tasks.views.display_department_portal owner_name=user %}"><i class="icon-bullhorn" id="li_department_icon"></i> Department </a>
</li>
<li id="li_contact">
    <a href="{% url dashboard.views.display_contacts owner_name=user%}"><i class="icon-th-list" id="li_contact_icon"></i> Contact Details </a>
</li>
<li id="li_files">
    <a href="{% url dashboard.views.upload_file owner_name=page_owner%}"><i class="icon-folder-close" id="li_files_icon"></i> Files </a>
</li>
<li id="li_calendar">
    <a href="{% url dashboard.views.display_calendar owner_name=page_owner%}"><i class="icon-calendar" id="li_calendar_icon"></i> Calendar </a>
</li>
{% if is_core and not is_visitor %}
<li id="li_task">
    <a href="{% url tasks.views.edit_task owner_name=user %}"><i class="icon-plus" id="li_task_icon"></i> Add Task </a>
</li>
{% endif %}
{% if is_core1 and not is_visitor1 %}
<li id="li_task">
    <a href="{% url tasks.views.edit_task owner_name=user %}"><i class="icon-plus" id="li_task_icon"></i> Add Task </a>
</li>
{% endif %}
<li id="li_feedback">
    <a href="{% url feedback.views.answer  %}"><i class="icon-comment" id="li_feedback_icon"></i> Feedback </a>
</li>

<li id="li_finance">
    <a href="/erp/finance_portal/"><i class="icon-star" id="li_finance_icon"></i> Finance </a>
</li>


{% if qms_core %}
	<li id="li_questions">
    <a href="/erp/feedback/questions_for/"><i class="icon-question-sign" id="li_questions_icon"></i>Feedback Questions </a>
</li>
{% endif %}

{% if qms_supercoord %}
	<li id="li_questions">
    <a href="/erp/feedback/questions_for/"><i class="icon-question-sign" id="li_questions_icon"></i>Feedback Questions </a>
</li>
{% endif %}

{% if qms_coord %}
	<li id="li_questions">
    <a href="/erp/feedback/questions_for/"><i class="icon-question-sign" id="li_questions_icon"></i>Feedback Questions </a>
</li>
{% endif %}
<!--
<li>
<a href="#">
Policies
</a>
</li>
<li>
<a href="#">
Website
</a>
</li>
-->

