<div id="other_coords">
  <p>
    <u>Also in this department</u>
  </p>

  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>
  <img src="{{MEDIA_URL}}images/default.jpeg" width="30px" height="30px"/>

  <br/>
  <a href="#">See more</a>
</div>
