<style>
.accordion-group {
    border:0px;
}
#department_members {
    margin-left:30px;
}
</style>
<div class="accordion" id="department_members_accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="#department_members" data-parent="contact_accordion" data-toggle="collapse" onclick=showMembers();>
                <i class="icon-plus-sign" id="department_members_icon" style="margin-top:1px;"></i> Members
            </a>
        </div>
        <div id="department_members" class="accordion-body collapse">
            <h3>Cores</h3>
            {% for core in dept_cores_list %}
            <a href="{% url users.views.view_profile owner_name=core.username %}"><img src="{{MEDIA_URL}}upload_files/{{ core.username }}/PROFILE_PIC_OF_THE_USER" width="30px" height="30px" title="{{ core.get_profile.name }}"/> </a>  
            {% endfor %}
            <br/>
            <h3>Coords</h3>
            {% for coord in dept_coords_list %}
            <a href="{% url users.views.view_profile owner_name=coord.username %}"><img src="{{MEDIA_URL}}upload_files/{{ coord.username }}/PROFILE_PIC_OF_THE_USER" width="30px" height="30px" title="{{ coord.get_profile.name }}"/></a>
            {% endfor %}
            <br/>
            &nbsp;
        </div>
    </div>
</div>
