{% extends "base_portal.html" %}
    
{% block title %}
{{ block.super }} 
Contacts
{% endblock title %}

{% block body %}
<style>
.accordion-group {
    border:0px;
}
</style>

<div class="accordion" id="contact_accordion">
      {% for dept_name, core_profiles, coord_profiles in contacts %}
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" href="#contact_{{ dept_name }}" data-parent="contact_accordion" data-toggle="collapse" onclick=showContacts("{{dept_name}}");><i class="icon-plus-sign" id="{{ dept_name }}_icon" style="margin-top:1px;"></i> {{ dept_name }}</a>
    </div>
    
    <style>
    #contact_{{ dept_name }} {
        margin-left:30px;
    }
    #contact_{{ dept_name }} table{
        margin-left:30px;
    }
    </style>

    <div id="contact_{{ dept_name }}" class="accordion-body collapse">
        <div class="accordion" id="contact_{{ dept_name }}_accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="#contact_{{ dept_name }}_cores" data-parent="contact_accordion" data-toggle="collapse" onclick=showContacts("{{dept_name}}_core");>
                        <i class="icon-plus-sign" id="{{ dept_name }}_core_icon" style="margin-top:1px;"></i> Cores
                    </a>
                </div>
	            <div id="contact_{{ dept_name }}_cores" class="accordion-body collapse">
		            <table class="table table-bordered table-striped span8">
        		        <tr style="color:#111; font-size:18px;">
        		            <th style="width:250px; padding-left:-10px;">Name</td>
                		    <th style="width:100px;">Phone</td>
                		    <th style="width:150px;">Summer No.</td>
                        </tr>
        		        {% for core_profile in core_profiles %}
        		        <tr>
        		            <td style="width:209px; padding-left:-10px;"> 
    		                    <a href="{% url users.views.view_profile core_profile.user.username %}">{{ core_profile.name }}</a> 
        		            </td>
        		            <td style="width:100px;">{{ core_profile.chennai_number }} </td>
        		            <td style="width:150px;">{{ core_profile.summer_number }} </td>
        		        </tr>
        		        {% endfor %}
        		    </table>
        	    </div>
        	</div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="#contact_{{ dept_name }}_coords" data-parent="contact_accordion" data-toggle="collapse" onclick=showContacts("{{dept_name}}_coord");>
                        <i class="icon-plus-sign" id="{{ dept_name }}_coord_icon" style="margin-top:1px;"></i> Coordinators
                    </a>
                </div>
	            <div id="contact_{{ dept_name }}_coords" class="accordion-body collapse">
                	<table class="table table-bordered table-striped span8">
		                <tr style="color:#111; font-size:18px;">
                		    <th style="width:250px; padding-left:-10px;">Name</td>
                		    <th style="width:100px;">Phone</td>
		                    <th style="width:150px;">Summer No.</td>
                		</tr>
                        {% for coord_profile in coord_profiles %}
                        <tr>
                            <td style="width:209px; padding-left:-10px;">
                                <a href="{% url users.views.view_profile coord_profile.user.username %}">{{ coord_profile.name }}</a>
                		    </td>
                		    <td style="width:100px;">{{ coord_profile.chennai_number }} </td>
                		    <td style="width:150px;">{{ coord_profile.summer_number }} </td>
                        </tr>
            		  {% endfor %}
            		</table>
                </div>
            </div>
        </div>
    </div>
</div>
      {% endfor %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_contact");
    var e = document.getElementById("li_contact_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
<script type="text/javascript">
function showContacts(dept_name) {
    var d = document.getElementById(dept_name+"_icon");
    if(d.className=="icon-plus-sign") {
        d.className = "icon-minus-sign";
    }
    else {
        d.className = "icon-plus-sign";
    }
}
</script>
{% endblock javascript%}
