{% extends "home.html" %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <link rel="stylesheet" type="text/css" href="media/style/css/style.css" />
  <script type="text/javascript" src="media/scripts/js/jquery-1.5.2-min.js"></script>
  <script type="text/javascript" src="media/scripts/js/script.js"></script>
  <title></title>
 </head>
 <body id="page">


<br>
<br>	
<span style="font-family:Arial; font-size:22px; font-weight:bold; color:#100;">Add details of other than cooords/cores</span>
<br>
<form action="{{SITE_URL}}/dashboard/documents/" method="POST" >
{% for field in other_contactform %}
<span style="font-family:Arial; font-size:16px; font-weight:bold; color:#100;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{field.label}}
{{field}}
<br>
{% endfor %}
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="submit" value="Add details">
</span>
{{success_message}}
 <div id="contacts-master">
 <div id="toppage"></div>
 <div id="contacts">
  <span style="font-family:Arial; font-size:30px; font-weight:bold; color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;Contacts</span>
         <ul id="accordion" style="border:none;">



	<!-- --------------------------------------------------------------------------------------------------------------->

         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Hospitality</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>

            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for fields in hospitality_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->



         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Sponsorship & PR</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for fields in sponsorship_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">QMS</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Saubhagya Srivastava</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">GNPQA Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Sumit Patil</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            <tr><td style="width:209px; padding-left:-10px;">Namrata Kamat</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
           </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">QMS Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for fields in qms_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>

	<!----------------------------------------------------------------------------------------------------------------->



         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Events</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for field in events_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Evolve</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for field in evolve_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Publicity</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table> {% for field in publicity_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Facilities</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table> {% for field in facilities_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Webops</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>

	     {% for field in webops_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.email_id}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table> {% for field in webops_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.email_id}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Design</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
             {% for field in design_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->


         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Finance</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Core</td><td style="width:100px;">Phone</td><td style="width:150px;">Summer No.</td><td style="width:100px;">Email-ID</td></tr>
            </table>
            <ul>
            <li>
            <table>
            <tr><td style="width:209px; padding-left:-10px;">Name</td><td style="width:100px;">0123456789</td><td style="width:150px;">1234567890</td><td style="width:100px;">abc@gmail.com</td></tr>
            </table>
             </li>
            </ul>
            </li>

           <li class="second">
            <table>
            <tr><td style="width:250px; padding-left:-10px;color:#111; font-size:18px;">Coordinators</td></tr>
            </table>
            <ul>
            <li>
            <table>
            {% for field in finance_profile %}

            <tr><td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.chennai_number}}</td><td style="width:150px;">{{field.summer_number}}</td><td style="width:100px;">{{field.emailid}}</td></tr>
{% endfor%}
            </table>
             </li>
            </ul>
           </li>

          </ul>
         </li>


	<!----------------------------------------------------------------------------------------------------------------->

         <li class="active">
          <img id="plus" src="media/images/plus.png" style="margin-left:-7px; margin-bottom:-3px;"/>&nbsp;<span style="font-size:22px; ">Others</span>
          <ul>

           <li class="second">
            <table>
            <tr style="color:#111; font-size:18px;"><td style="width:250px; padding-left:-10px;">Name</td><td style="width:100px;">Phone</td><td style="width:150px;">Email-ID</td></tr>
<tr><td>

		<form action="{{SITE_URL}}/dashboard/delete_detail/" method="GET">
{% for field in other_profile %}

            <td style="width:209px; padding-left:-10px;">{{field.name}}</td><td style="width:100px;">{{field.number}}</td></td><td style="width:100px;">{{field.emailid}}</td>
	

<td>
<input type="enter" value="hey">
<input type="hidden" value={{field.id}} name="d">
<input type="submit" value="delete">
</td>


</tr>
{% endfor%}

</form>
             </li>
            </ul>
            </li>

         
            <table>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->
        </ul> 
      </div>
  
 <div id="bottom"></div>
</div>


</body>
</html>

{% endblock %}
