{% extends "home.html" %}

{% block body %}

<div id="mainform" >
  <div id="main">

<form  method="POST" action="{{SITE_URL}}/users/invite/">{% csrf_token %}
<table>
{% for field in form %}
	<tr>
	 <td>
	  {{ field.label_tag }}
	 </td>
	<td>
 	 {{ field}}
 	</td>
	</tr>
{% endfor %}

</td></tr>
</table>
<input type="submit" value="invite" id="Save"/>
</form>
{{message}}
<h3>Upload csv file here which contains the list of the coords you want to invite <h3>
<form enctype="multipart/form-data" method="POST" action="{{SITE_URL}}/dashboard/upload_document/">{% csrf_token %}
<table>
{% for field in CsvForm %}
	<tr>
	 <td>
	  {{ field.label_tag }}
	 </td>
	<td>
 	 {{ field}}
 	</td>
	</tr>
{% endfor %}

</td></tr>
</table>
<input type="hidden" value="{{field.file_name}}" name="f">

<input type="submit" value="upload and invite" id="Save"/>
</form>

{% endblock %}
