{% extends "base_portal.html" %}

{% block body %}

{{message}}


<script type="text/javascript">
	function delete_data(field) {

		field.value = "";
	}
</script>

<div class="tabbable span8">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabs2" data-toggle="tab"><i class="icon-tasks"></i> View Files</a>
        </li>
        <li>
            <a href="#tabs1" data-toggle="tab"><i class="icon-check"></i> Upload</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="tabs1">
            <form enctype="multipart/form-data" method="POST" action="{% url dashboard.views.upload_file owner_name=page_owner%}">
                {% csrf_token %}
                <table>

                    {{form.as_table}}
                    </td></tr>
                </table>
                <table>
                    <tr>
                        <td>
                        <input type="submit" value="Upload" id="Save"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="tab-pane active" id="tabs2">
            <table class="table" id="document_list">

                {% if users_documents %}

                <tr >
                    <td></td>
                    <td id="documents_top"  > File name </td>
                    <td id="documents_top"width="250px" > Description </td>
                    <td id="documents_top" > Date </td>
                </tr>
                <tr>

                    <h4> {{upload_message}} </h4>
                    {% else %}

                    {% if is_visitor %}
                    <br>
                    no documents have been uploaded by {{page_owner.username}}
                    {% else %}
                    <h4>You have not uploaded any documents till now.</h4>
                    <br>
                    {% endif %}
                    {% endif %}

                </tr>

                {% for field in users_documents %}
                <tr >
                    <td> {{forloop.counter}} <td> {{field.file_name}} </td>
                    <td> {{field.topic}} </td>

                    <td> {{field.date}} </td>
                    <td><a href="{{field.url}}" class="google_doc" >Download</a></td>
                    <td></td>

                </tr>

                <tr>

                    </td>
                    <td><td> {% if not is_visitor %} <a href="{% url dashboard.views.delete_file owner_name=page_owner number=field.id %}" >delete </a> {% endif %} </td>
                    <td></td>
                    <td></td>
                    <td>
                    <div class="docs_link">
                        <a  href="http://docs.google.com/viewer?url={{field.url}}" target="_blank">view in google docs</a>
                    </div></td>
                <tr>

                    {% endfor %}

            </table>
        </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_files");
    var e = document.getElementById("li_files_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript%}
