{% include "base_portal.html" %}
{% block tabs %}
{% if changed %}
<div class="alert alert-success">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <center>
    <strong> You have successfully changed your password. </strong>
  </center>
</div>
{% endif %}
{% if failed %}
<div class="alert alert-error">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <center>
    <strong> Your passwords don't match! </strong>
  </center>
</div>
{% endif %}
{% if invalid %}
<div class="alert alert-error">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <center>
    <strong> The password you entered is wrong! </strong>
  </center>
</div>
</div>
{% endif %}

{% endblock %}

