{% extends "home.html" %}

{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>

<style type="text/css">
#heading
{
    position:absolute;
    top :130px;
    left:380px;

}
#details
{
    position:absolute;
    top : 160px;
    left :320px;

}
</style>
 <title></title>
 </head>
 <body id="page">

<!--<img class="profile_pic" src="{{photo_path}}" width="130" height="190">
<img  src="{{MEDIA_ROOT}}images/default.jpeg" width="130" height="190">-->
<div class="update_profile_pic "><a href="{% url dashboard.views.change_profile_pic %}"> update/change </a></div> 
<div id="mainform" >
  <div id="main">
    <div id ="heading">
    {{department_name}}
    {% if is_core %}
    Core Details
    {% else %}
    Coordinator Details
    {% endif %}</div>
<div id="details">
   <form id="" name="" action="{{SITE_URL}}/users/update/" method="POST">{% csrf_token %}
    <table>


{{success_message}}
{{warning_message}}
{{profileform.non_field_errors}}

{% for field in profileform %}
     <tr>
      <td style="text-align:right;">
       {{ field.label_tag }}
      </td>

<td>

{{field}}
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{field.errors}}

      </td>
     </tr>
     <tr><td></td><td></td></tr>
     <tr><td></td><td></td></tr>


{% endfor %}


    </table>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Update" name="googeal">
   </form>
  </div>
</div>	


<p class="defaultP" style="visibility:hidden;">
	<input type="radio" name="month" value="6" id="month6" /> <label for="month6">6</label> <br />
	<input type="radio" name="month" value="3" id="month3" /> <label for="month3">3</label> <br />	
	<input type="radio" name="month" value="12" id="month12" /> <label for="month12">12</label> <br />
</p>

  <script type="text/javascript">
   $(function() {
   	$('.defaultP input').ezMark();
	$('.checkbox input[type="checkbox"]').ezMark({checkboxCls: 'ez-checkbox-green', checkedCls: 'ez-checked-green'})
   });	
  </script>
</div>


</body>
</html>

{% endblock %}
