{% extends "new_home.html" %}

{% block title %}
{{ block.super }} 
Edit Profile
{% endblock title %}

{% block style_stuff %}

<style type="text/css">
  #heading
  {
  position:relative;
  top :8px;
  left:200px;
  font-size:180%;

  }
  #details
  {
  position:relative;
   width:450px;
  left:9%;
  cellspacing:
  }
#profile_pic
{
position:relative;
left:69%;
top:175px;
}
#update_profile_pic
{
position:relative;
left:865px;
top:190px;
}

#update	
{
position:absolute;
align:center;
left:40%;
top:-125px;
}
</style>
{% endblock style_stuff %}

{% block body %}

  <div id="left_panel2">
    {% include "left-sidebar.html" %}
  </div>

{% if profile_changed %}
<h3>Your profile has been updated successfully.</h3>
{% endif %}


<img id="profile_pic"  src="{{photo_path}}" width="190" height="195">

  <div id="main_edit_profile">
    <div id ="heading">
      {{department_name}}
      {% if is_core %}
      Core Details
      {% else %}
      Coordinator Details
      {% endif %}
    </div>

    <div id="details">
      <form method="POST" id="profile_form" action="{% url users.views.handle_profile owner_name=user%}">
	{% csrf_token %}
	<table id="edit_details" cellspacing="12">
	  {{ profile_form }} 

	</table>
<input type="submit" value="Finish Editing" name="update"  >
<a href="{% url dashboard.views.change_profile_pic owner_name=user%}">Change Profile Picture</a>
	</form>
      </div>
    </div>	
  </div>

  {% endblock %}
