{% extends "home.html" %}

{% block title %}
{{ block.super }} 
{% endblock title %}

{% block body %}
<br />
<h1>
User Registration
{{username}}
{{dept_name}}
{{rollno}}
</h1>
<p>
  Please fill in the following details: 
</p>
<form action="{{SITE_URL}}/users/register_invite/Events/" method="POST">{% csrf_token %}
  <div class="register">
    <table name="register">
      {{ user_form }}
	<input type="hidden" value ="{{dept_name}}" name="dept_name" >
    </table>
    <hr />
    <input type="submit" value="Register" />
  </div>
</form>
{% endblock %}
