{% extends "home.html" %}

{% block title %}
{{ block.super }} 
{% endblock title %}

{% block body %}
<br />
<h1>
 
  <br>{{username}} 
<br>{{dept_name}} department
<br>
your roll number is {{rollno}}
</h1>
<p>
  Please fill in the following details:
</p>
dude
{{SITE_URL}}/users/register/{{dept_name}}/{{username}}/{{rollno}}/
<form action="{{SITE_URL}}/users/register/" method="POST">{% csrf_token %}
  <div class="register">
    <table name="register">
      {{ user_form }}
    </table>
    <hr />
    <input type="submit" value="Register" />
  </div>
</form>
{% endblock %}
