{% extends "home.html" %}

{% block title %}
{{ block.super }} 
Register for {{dept_name}}
{% endblock title %}

{% block body %}
<br />
<h1>
 
  <br>{{username}} 
<br>{{dept_name}} department
<br>
your roll number is {{rollno}}
</h1>
<p>
  Please fill in the following details:
</p>
<form action="" method="POST">{% csrf_token %}
  <div class="register">
    <table name="register">
      {{ user_form }}
    </table>
    <hr />
    <table>
      <h3>Your profile details</h3>
      <h5>Note : Due to testing constraints, we need 'Department' and 'Name' at the time of registration.</h5>
      {{ profile_form }}
    </table>
    <input type="submit" value="Register" />
  </div>
</form>
{% endblock %}
