{% extends "home.html" %}
{% block body %}

<style type="text/css">
#username
{
position:absolute;
font-family:Arial;
top:100px;
left:370px;
font-size:200%;
}

#nickname
{
color:blue;
}

.left
{
top:70px;
position:relative;
left:420px;
color:#616D7E;
text-align:right;
}
.right
{
top:70px;
position:relative;
left:440px;
color:#571B7e;
text-align:left;
}
#edit_profile
{
position:absolute;
top:110px;
right:10%;
}

#details_table
{
line-height:190%;
}
#profile_pic
{
position:absolute;
top:170px;
left:200px;
width:180px;
height:185px;
}
#dept_name
{
position:relative;
top:10px;
font-size:140%;
text-align:center;
color:#347235;
}
</style>

<img id="profile_pic" src="{{photo_path}}">

	<table id="details_table">
<tr > 
	<td>	
	<div id="username" >
		{{profile.name}} 
{% if profile.nickname %} 
aka 
{% endif %}

		
		
	<span id="nickname" >
		{{profile.nickname}}
	</span>
	</div>
		</td>
 </tr>
<tr>
<tr>
<div id ="dept_name" >
      {{profile.department.Dept_Name}}
      {% if is_core %}
      Core 
      {% else %}
      Coordinator 
      {% endif %}
</div>
<tr>

<tr>
	<td>
	<div class ="left" >
	Contact Number 
	</div>
	</td>
	<td>
	<div class="right" >
	{{profile.chennai_number}}
	</div>
	</td>
</tr>

<tr>
	<td>
	<div class ="left" >
	Summer Contact
	</div>
	</td>
	<td>
	<div class="right" >
	{{profile.summer_number}}
	</div>
	</td>
</tr>


<tr>
	<td>
	<div class ="left" >
	Summer Stay
	</div>
	</td>
	<td>
	<div class="right" >
	{{profile.summer_stay}}
	</div>
	</td>
</tr>

<tr>
	<td>
	<div class ="left" >
	Hostel
	</div>
	</td>
	<td>
	<div class="right" >
	{{profile.hostel}}
	</div>
	</td>
</tr>


<tr>
	<td>
	<div class ="left" >
	Room number
	</div>
	</td>
	<td>
	<div class="right" >
	{{profile.room_no}}
	</div>
	</td>
</tr>


	</table>
	{% if can_edit  %}
<a href="{{SITE_URL}}/users/edit_profile/"  id ="edit_profile"> Edit profile </a>
     {% endif %}
{% endblock %}
