{% extends "base_portal.html" %}

{% block body %}


<div class="row">
    <div id="username" class="span3 offset3">
        <center>
            <h2>{{profile.name}}</h2>

            {% if profile.nickname %}
            <br>
            {% endif %}

            <h3>({{profile.nickname}})</h3>
        </center>
<br/>
    </div>
    <div class="row">
        <div class="span3 offset1">
            <ul class="thumbnails">
                <li class="span3">
                    <br>
                    <br>
                    <a href="#" class="thumbnail"> <img id="profile_pic" src="{{photo_path}}"> </a>
                </li>
            </ul>

        </div>
        <div class="span5">
            <center>
                <h3>{{user_dept_name}}
                {% if is_core %}
                Core
                {% else %}
                Coordinator
                {% endif %}</h3>
            </center>
            {% if is_core %}
            <center>
                <h6><a href="{% url tasks.views.display_portal owner_name=page_owner %}" class="button big" > Dashboard </a></h6>
            </center>
            {%endif%}
            <table class="table table-striped" id="details_table">

                <br/>

                <div id="complete_details">
                    <tr>
                        <td>
                        <div class ="left" >
                            Contact Number
                        </div></td>
                        <td>
                        <div class="right" >
                            {{profile.chennai_number}}
                        </div></td>
                    </tr>

                    <tr>
                        <td>
                        <div class ="left" >
                            Summer Contact
                        </div></td>
                        <td>
                        <div class="right" >
                            {{profile.summer_number}}
                        </div></td>
                    </tr>

                    <tr>
                        <td>
                        <div class ="left" >
                            Summer Stay
                        </div></td>
                        <td>
                        <div class="right" >
                            {{profile.summer_stay}}
                        </div></td>
                    </tr>

                    <tr>
                        <td>
                        <div class ="left" >
                            Hostel
                        </div></td>
                        <td>
                        <div class="right" >
                            {{profile.hostel}}
                        </div></td>
                    </tr>

                    <tr>
                        <td>
                        <div class ="left" >
                            Room number
                        </div></td>
                        <td>
                        <div class="right" >
                            {{profile.room_no}}
                        </div></td>
                    </tr>

                </div>
            </table>
            {% if not is_visitor  %}
            <center>
                <a href="{% url users.views.handle_profile owner_name=user%}"  id ="edit_profile"> Edit profile </a>
            </center>
            {% endif %}
        </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("nav_profile");
    d.className = "active";
 });
</script>
{% endblock javascript%}
 
