
<style type="text/css">
#username
{
position:relative;
font-family:Arial;
top:-50px;
left:140px;
font-size:200%;
}

#nickname
{
color:blue;
}

.left
{
top:30px;
position:relative;
color:#616D7E;
text-align:right;
}
.right
{
top:30px;
position:relative;
left:20px;
color:#571B7e;
text-align:left;
}
#edit_profile
{
position:absolute;
top:110px;
right:30%;
}

#details_table
{
line-height:190%;
}
#profile_pic
{
position:absolute;
top:160px;
left:70px;
width:180px;
height:185px;
}
#dept_name
{
position:relative;
top:10px;
font-size:140%;
text-align:center;
color:#347235;
left:170px;
}
#main_box_profile
{
position:absolute;
left:200px;
}

#details_table
{
position:relative;
top:40px;
left:50px;
}
</style>
