{% extends "base_portal.html" %}

{% block tabs %}

<div class="tabbable span8">
    <div class="tab-content">
    <div class="row">
    <div class="span7">
        <center><h4>Event Details for {{ eventname }}</h4>
        To save the entered details click 'Save'. To view/edit the prizes for this event, click on 'Prizes'.</center><br/>
        
        {% if success %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Event Details saved.
          </div>
        {% endif %}
        
        <form action="" method="POST">
        {% csrf_token %}
        {{ eventdetailsform }}
        <br/>
        <input id="submit" type="submit" class="btn btn-primary pull-left" name="submit_continue" value="Save"/>
        <a id="participants" class="btn btn-primary pull-right" href="{% url prizes.views.prize_assign owner_name=request.user event_name=eventname.pk %}">Prizes &raquo;</a>
        </form>
    </div>
    </div>
    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

{% endblock tabs %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_prize_assign");
    var e = document.getElementById("li_prize_assign_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
$('.chzn-select').chosen();
</script>
{% endblock javascript%}
