{% extends "base_portal.html" %}

{% block tabs %}

<div class="tabbable span8">
    <div class="tab-content">
    <div class="row">
   
         <div class="well span5 offset1">
      <center>  <h4>Details of Finalists at Position {{ position }} for the Event '{{ eventname }}'</h4> 
       <br/>
       Submitting the form will save all entries. The details will be updated in this page as well as the <a href="../../">previous</a> page.
       <br /> Please enter <b>either the participants' ShaastraID or the barcode.</b> It is not necessary to fill all the 7 participants.<br/>
       <u>Please submit as often as possible to save work.</u>
       <br/>
       </center>
       </div>
        <div class="span5 offset1">
        {% if success %}
            <span style="color:#FF0000">Saved!</span>
        {% endif %}
        <form action="" method="POST">
        {% csrf_token %}
        {{ prizeform.non_form_errors }}
        {% for field in prizeform %}
            {{ field.errors }}
            {% if field.label == "Participant 1 barcode" %}
                <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                {% for field1 in prizeform %}
                    {% if field1.label == "Participant 1 shaastraid" %}
                    <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if field.label == "Participant 2 barcode" %}
                    <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                    {% for field1 in prizeform %}
                        {% if field1.label == "Participant 2 shaastraid" %}
                        <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if field.label == "Participant 3 barcode" %}
                        <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                        {% for field1 in prizeform %}
                            {% if field1.label == "Participant 3 shaastraid" %}
                            <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if field.label == "Participant 4 barcode" %}
                            <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                            {% for field1 in prizeform %}
                                {% if field1.label == "Participant 4 shaastraid" %}
                                <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if field.label == "Participant 5 barcode" %}
                            <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                            {% for field1 in prizeform %}
                                {% if field1.label == "Participant 5 shaastraid" %}
                                <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                {% if field.label == "Participant 6 barcode" %}
                                    <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                                    {% for field1 in prizeform %}
                                        {% if field1.label == "Participant 6 shaastraid" %}
                                        <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if field.label == "Participant 7 barcode" %}
                                        <table><tr><td>{{ field.label }}:<br/> {{ field }}&emsp;</td>
                                        {% for field1 in prizeform %}
                                            {% if field1.label == "Participant 7 shaastraid" %}
                                            <td><b>(OR) </b>{{ field1.label }}:<br/> {{ field1 }}</td></tr></table>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if field.label == "Details" or field.label == "Cheque" %}
                                            {{ field.label }}:<br/> {{ field }}<br/>
                                        {% endif %}
                                    {% endif %}                
                                {% endif %}                
                            {% endif %}                
                        {% endif %}                
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <br/>
       <center> <input type="submit" class="btn btn-primary" name="submit_continue" value="Submit"/></center>
        </form>
    </div>
    </div>
    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

{% endblock tabs %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_prize_assign");
    var e = document.getElementById("li_prize_assign_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
$('.chzn-select').chosen();
</script>
<script>  
 var subjects = {{ idList|safe }}
$('.search').typeahead({source: subjects})  
</script>  
{% endblock javascript%}
