{% extends "base_portal.html" %}

{%block tabs%}

{% if not valid %}
<div class="well">
Your file isn't valid! Please check if it's a CSV file in the proper format
</div>
{% endif %}

<div class="well">
<h4>
These Shaastra Ids were not added. </h4><br />
<ul>
{% for id in shaastra_ids_errors %}
<li><b>
{{id}}</b></li>
{%endfor%}
</ul>
</div>

<div class="well">
<h4>
These Shaastra Ids were successfully added.</h4> <br />
<ul>
{% for id in shaastra_ids %}
<li><b>
{{id}}</b></li>
{%endfor%}
</ul>
</div>

<div class="well"><h4>
These Barcodes were successfully added.</h4> <br />
<ul>
{%for barcode in barcodes%}
<li><b>{{barcode}}</li></b>
{%endfor%}
</ul>
</div>

<div class="well"><h4>
These Barcodes were not added.</h4> <br />
<ul>
{% for id in barcodes_errors %}
<li><b>
{{id}}</li></b>
{%endfor%}
</ul>
</div>
{%endblock%}
