<hmtl>
<head>
<h3>WELCOME {{user}}<h3>
<h4> YOUR TASKS DETAILS ARE </h4>
</head>


<body>
<!-- this function displays the form as a table, we will have to change it later for design issues -->
<h5><Enter the new task you want to assign ><h5>
<form action="/assign_tasks" method="POST">
	<table>
		{{ display_form.as_table}}
	</table>
	<p><input type ="submit" value ="Submit" ></p>

</form>
<h6>The task you have assigned <h6>
<!-- the tasks will be diaplayed -->
<!-- i have displayed the task details very plainly -->
{% for task in task_details %}
<br>
<li>
{{task_details.subject}} {{task_details.descripption}} {{task_details.assigne}} {{task_details.creation_date}} {{task_details.status}}   {{task_details.deadline}} {{task_details.manager}}
<li>
<br>
{% endfor %} 


</body>
</html>
