{% comment %}
{% if is_task_comment %}
<h2>Task - {{ curr_object.subject }}</h2>
{% else %}
<h2>Subtask - {{ curr_object.subject }}</h2>
{% endif %}
{% endcomment %}

{# Display existing comments #}

{% if comments %}
<br />
<table class="table table-bordered" >
  <tr>
    <th>Author</th>
    <th>Comment</th>
    <th>Time</th>
  </tr>
  {% for comment in comments %}
  <tr>
    <td>{{ comment.author.get_profile.name }}</td>
    <td>{{ comment.comment_string }}</td>
    <td>{{ comment.time_stamp }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
There are no Comments yet.
{% endif %}

{# Comment Form #}
{% if not is_visitor and comment_form %}
{% if comment_status == 'Success' %}
<h4> Comment Successfully Added </h4>
{% endif %}

{% comment %}
{% if comment_status == 'Not Found' %}
{% if is_task_comment %}
<h2> No Such Task Exists </h2>
{% else %}
<h2> No Such Subtask Exists </h2>
{% endif %}
{% endif %}
{% endcomment %}

{% if not is_new_task %}<h3>Add a comment</h3>{% endif %}
<table cellpadding="4">
  {{ comment_form }}
</table>
{% endif %}
