
<div id="comments_table">
    {% include "tasks/comment_table.html" %}
</div>
{# Comment Form #}

{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript">

    function comment(){
        comment = $('#comments_field').val()
        if ($('#comments_field').val()=='')
        {
            $("#comments_alert").show()
            exit
        }
        $('#comments_field').val('')
        $('#comment_button').val("Commenting..")
        Dajaxice.tasks.comment(Dajax.process, {
                    'object_url' : document.URL,
                    'comment' : comment
                });
    }
      
</script>

<h2>Add a comment</h2>
<textarea class='comment' id="comments_field" placeholder="enter comment"></textarea>
<button class="btn btn-primary" onclick="comment();" id="comment_button">Comment</button>
<center>
            <div class="alert alert-error span2 offset1 hide" id="comments_alert">
                <center>
                    <strong> Your comment is blank! </strong>
                </center>
            </div>
        </center>
