{% comment %}
{% if is_task_comment %}
<h2>Task - {{ curr_object.subject }}</h2>
{% else %}
<h2>Subtask - {{ curr_object.subject }}</h2>
{% endif %}
{% endcomment %}

{# Display existing comments #}

{% if comments %}
<br />
<h3>Comments</h3>
<table class="table table-bordered" >
  <tr>
    <th>Author</th>
    <th>Comment</th>
    <th>Time</th>
  </tr>
  {% for comment in comments %}
  <tr>
    <td>{{ comment.author.get_profile.name }}</td>
    <td>{{ comment.comment_string }}</td>
    <td>{{ comment.time_stamp }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
There are no Comments yet.
{% endif %}

<div id="comments_table">
    {% include "tasks/comment_table.html" %}
</div>
{# Comment Form #}

{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript">

    function comment(){
        var comment = $('#comments_field').val()
        if (comment=='')
        {
            $("#comments_alert").show()
            exit
        }
        $('#comments_field').val('')
        Dajaxice.tasks.comment(Dajax.process, {
                    'object_url' : document.URL,
                    'comment' : comment
                });
    }
      
</script>

<h2>Add a comment</h2>
<textarea class='comment' id="comments_field" placeholder="enter comment"></textarea>
<div class="well">
<button class="btn btn-primary" type = "button" onclick="comment()" id="comment_button">Comment</button>


</div>
            <div class="alert alert-error span2 offset1 hide" id="comments_alert">
                <center>
                    <strong> Your comment is blank! </strong>
                </center>
            </div>
 
