{% extends "tasks/portal_common.html" %}

{% block portal_stuff %}

<h1>Dashboard</h1>

{% block subtasklist %}
<h2> Core Requests </h2>
<table>
  <tr>
    <th>Subject</th>
    <th>Proposer</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Comments</th>
  </tr>
  {% for subtask in all_SubTasks %}
  <tr>
    <td><a href="{% url tasks.views.display_subtask subtask.id %}">{{ subtask.subject }} </a></td>
    <td> {{ subtask.creator }} </td>
    <td> {{ subtask.deadline }} </td>
    <td> {{ subtask.status }} </td>
    <td>  <a href="{% url tasks.views.handle_subtask_comments subtask.id %}">Comments</a> </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block timeline %}
<h2>Timeline for {{ user_dept_name }} Department</h2>
<table>
  <tr>
    <th>Subject</th>
    <th>Creator</th>
    <th>Deadline</th>
    <th>Status</th>
  </tr>
  {% for task in all_Tasks %}
  <tr>
    <td> {{ task.subject }} </td>
    <td> {{ task.creator }} </td>
    <td> {{ task.deadline }} </td>
    <td> {{ task.status }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% endblock %}
