{% extends "base_portal.html" %}

{% block tabs %}

<div class="tabbable span8">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabs1" data-toggle="tab"><i class="icon-tasks"></i>  Timeline</a>
        </li>
        <li>
            <a href="#tabs2" data-toggle="tab"><i class="icon-check"></i> Core Requests</a>
        </li>
        <li>
            <a href="#tabs3" data-toggle="tab"><i class="icon-refresh"></i> Updates</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabs1">
            {% include "tasks/timeline.html" %}
        </div>
        <div class="tab-pane" id="tabs2">
            <h2> Core Requests </h2>
            {% if all_SubTasks %}
            <table class="table table-striped table-bordered span7">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th> Proposer </th>
                        <th> Deadline </th>
                        <th> Status </th>

                    </tr>
                </thead>
                <tbody>
                    {% for subtask in all_SubTasks %}
                    <tr>
                        <td><a href="{% url tasks.views.edit_subtask subtask_id=subtask.id owner_name=page_owner %}"> {{ subtask.subject }} </a></td>
                        <td>{{ subtask.creator.get_profile.name }}</td>
                        <td>{{ subtask.deadline }}</td>
                        <td>{{ subtask.status }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p>No Requests from the Core yet.</p>
            {% endif %}
        </div>
        <div class="tab-pane" id="tabs3">
            {% include "tasks/updates.html" %}
        </div>
    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

{% endblock tabs %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_dashboard");
    var e = document.getElementById("li_dashboard_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript%}
