<html>
<body>

<h1> Welcome </h1>

<form method="post" action="{{SITE_URL}}/tasks/create/">
<h1> Create a Task </h1>
<input type="submit" name = "Login">
</form>
<form method="post" action="{{SITE_URL}}/tasks/core_portal/listoftasks/">
<h1>List of Tasks</h1>
<input type="submit" name = "Login">
</form>
<form method="post" action="{{SITE_URL}}/tasks/core_portal/completed_subtasks/">
<h1>Completed Subtasks</h1>
<input type="submit" name = "Login">
</form>

<form method="post" action="{{SITE_URL}}/dashboard/documents/">
<h1>View documents</h1>
<input type="submit" name = "document" value="Documemts">
</form>
{% if display_created_tasks %}
<table>
   {% for task in tasks %}
  <tr><td><h1> Task </h1></td></tr>
   <tr><td><b>Subject</b></td><td>:</td><td><b>Description</b></td><td>:</td><td><b>Creator</b></td><td>:</td><td><b>Creation Date</b></td><td>:</td><td><b>Deadline</b></td><td>:</td><td><b>Status</b></td><td>:</tr>
   <tr><td><b>{{task.0}}</b></td><td>:</td><td>{{task.1}}</td><td>:</td><td>{{task.2}}</td><td>:</td><td>{{task.3}}</td><td>:</td><td>{{task.4}}</td><td>:</td><td>{{task.5}}</td><td>:</tr>
  <tr><td colspan = "5"><h3> Sub-Task </h3></td></tr>
   <tr><td><b>Subject</b></td><td>:</td><td><b>Description</b></td><td>:</td><td><b>Creator</b></td><td>:</td><td><b>Creation Date</b></td><td>:</td><td><b>Deadline</b></td><td>:</td><td><b>Status</b></td><td>:</td><td><b>Assigned To</b></td><td>:</td><td><b>Department</b></td><td>:</td></tr>
   {% for sub_task in task.6 %}
   <tr><td><b>{{sub_task.0}}</b></td><td>:</td><td>{{sub_task.1}}</td><td>:</td><td>{{sub_task.2}}</td><td>:</td><td>{{sub_task.3}}</td><td>:</td><td>{{sub_task.4}}</td><td>:</td><td>{{sub_task.5}}</td><td>:</td><td>{{sub_task.6}}</td><td>:</td><td>{{sub_task.7}}</td><td>:</tr>
   <br/> <br/>
   {%endfor%}
   {%endfor%}
   </table>
{%endif%}


{% if display_completed_tasks %}
<table>
 <tr><td colspan = "5"><h3> Sub-Task </h3></td></tr>
   <tr><td><b>Subject</b></td><td>:</td><td><b>Description</b></td><td>:</td><td><b>Creator</b></td><td>:</td><td><b>Creation Date</b></td><td>:</td><td><b>Deadline</b></td><td>:</td><td><b>Status</b></td><td>:</td><td><b>Assigned To</b></td><td>:</td><td><b>Department</b></td><td>:</td></tr>
   {% for sub_task in subtasks %}
   <tr><td><b>{{sub_task.0}}</b></td><td>:</td><td>{{sub_task.1}}</td><td>:</td><td>{{sub_task.2}}</td><td>:</td><td>{{sub_task.3}}</td><td>:</td><td>{{sub_task.4}}</td><td>:</td><td>{{sub_task.5}}</td><td>:</td><td>{{sub_task.6}}</td><td>:</td><td>{{sub_task.7}}</td><td>:</tr>
   <br/> <br/>
   {%endfor%}
 </table>
{%endif%}

</body>
</html>
