{% extends "base_portal.html" %}

{% block title %}
{{ block.super }}
Dashboard
{% endblock title %}

{% block content-heading %}
<div class="content-heading">
    <h1>Dashboard</h1>
</div>
{% endblock content-heading %}

{% block tabs %}

<div class="tabbable span8">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabs1" data-toggle="tab"><i class="icon-tasks"></i> Timeline</a>
        </li>

        <li>
            <a href="#tabs2" data-toggle="tab"><i class="icon-arrow-down"></i>Received Requests</a>
        </li>
        <li>
            <a href="#tabs3" data-toggle="tab"><i class="icon-arrow-up"></i>Sent Requests</a>
        </li>
        <li>
            <a href="#tabs4" data-toggle="tab"><i class="icon-ok"></i> Completed Subtasks</a>
        </li>
        <li>
            <a href="#tabs5" data-toggle="tab"><i class="icon-refresh"></i> Updates</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabs1">
            {% include "tasks/timeline.html" %}

        </div>
        <div class="tab-pane" id="tabs2">
            <h2> Requests from other Departments and Unassigned SubTasks</h2>
            {% if all_unassigned_received_SubTasks %}

            <p>
                Click to assign these to your Coords.
            </p>
            <table class="table span7">
                <tr>
                    <th>Subject</th>
                    <th>Proposer</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Comments</th>
                </tr>
                {% for subtask in all_unassigned_received_SubTasks %}
                <tr>
                    <td><a href="{% url tasks.views.edit_subtask subtask_id=subtask.id owner_name=page_owner %}">{{ subtask.subject }}</a></td>
                    <td> {{ subtask.creator.get_profile.name }} </td>
                    <td> {{ subtask.deadline }} </td>
                    <td> {{ subtask.status }} </td>
                    <!-- The comments for each subtask are still not working -->
                    <td> {{subtask.comments}}</td>
                </tr>
                {% endfor %}
            </table>

        {% else %}
        <h4>No Requests or Unassigned SubTasks for your Department.</h4>
        {% endif %}
        </div>
        <div class="tab-pane" id="tabs3">
            <h2> Requests sent to other Departments </h2>
            <p>
                SubTasks you've sent to other Departments
            </p>
            {% if all_requested_SubTasks %}
            <table class="table table-striped span7">
                <tr>
                    <th>Task Subject</th>
                    <th>SubTask Subject</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Comments</th>
                </tr>
                {% for subtask in all_requested_SubTasks %}
                <tr>
                    <td><a href="{% url tasks.views.edit_task task_id=subtask.task.id owner_name=page_owner %}">{{ subtask.task.subject }}</a></td>
                    <td><a href="{% url tasks.views.edit_subtask subtask_id=subtask.id owner_name=page_owner %}">{{ subtask.subject }}</a></td>
                    <td> {{ subtask.deadline }} </td>
                    <td> {{ subtask.status }} </td>
                    <!-- The comments for each subtask are still not working -->
                    <td> {{subtask.comments}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>You haven't sent any requests to other departments yet.</h4>
            {% endif %}
        </div>
        <div class="tab-pane" id="tabs4">
            <h2> Completed SubTasks</h2>
            <p>
                SubTasks completed by your Coords
            </p>
            {% if all_completed_SubTasks %}

            <table class="table table-striped span6">
                <tr>
                    <th>Subject</th>
                    <th>Completed By</th>
                    <!-- <th>Deadline</th> -->
                    <!-- <th>Status</th> -->
                </tr>
                {% for subtask in all_completed_SubTasks %}
                <tr>
                    <td><a href="{% url tasks.views.edit_subtask subtask_id=subtask.id owner_name=page_owner %}"> {{ subtask.subject }} </a></td>
                    <td>
                    <ul>
                        {% for coord in subtask.coords.all %}
                        <li>
                            {{ coord.get_profile.name }}
                        </li>
                        {% endfor %}
                    </ul></td>
                    <!-- <td> {{ subtask.status }} </td> -->
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>There have been no completed SubTasks in your department yet.</h4>
            {% endif %}
        </div>
        <div class="tab-pane" id="tabs5">
            {% include "tasks/updates.html" %}
        </div>
    </div>
</div>

    {% endblock tabs %}
    
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_dashboard");
    var e = document.getElementById("li_dashboard_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript%}
