{% extends "base_portal.html" %}

{% block title %}
{{ block.super }}
Department Portal | {{ po_dept_name }}
{% endblock title %}

{% block content-heading %}
<div class="content-heading">
    <h1>Portal - {{ po_dept_name }} Department </h1>
</div>
{% endblock content-heading %}

{% block tabs %}

<div class="tabbable span8">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabs1" data-toggle="tab"><i class="icon-tasks"></i> Timeline</a>
        </li>
        <li>
            <a href="#tabs2" data-toggle="tab"><i class="icon-refresh"></i> Updates</a>
        </li>
        <li>
            <a href="#tabs3" data-toggle="tab"><i class="icon-comment"></i> Shout!</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabs1">

            {% include "tasks/timeline.html" %}
        </div>
        <div class="tab-pane" id="tabs2">
            <h2>Updates</h2>
            {% include "tasks/display_updates.html" %}
        </div>
        <div class="tab-pane" id="tabs3" style="overflow:hidden;">
            {% include "tasks/vivek_shout.html" %}
        </div>
    </div>

{% endblock tabs %}
    
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_department");
    var e = document.getElementById("li_department_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript%}
