{% extends "tasks/base_portal.html" %}

{% block title %}
{{ block.super }} 
Department Portal | {{ po_dept_name }} 
{% endblock title %}
 
{% block display_stuff %}
<h2>Portal - {{ po_dept_name }} Department </h2>

<hr />
{% block timeline %}
{% include "tasks/timeline.html" %}
{% endblock timeline %}
<hr />

{% block member_list %}
<h2>Members of your Department</h2>
<h3>Cores</h3>
{% for core in dept_cores_list %}
<a href="{% url tasks.views.display_portal core.username %}">{{ core.get_profile.name }} </a>  
<br />
{% endfor %}

<h3>Coords</h3>
{% for coord in dept_coords_list %}
<a href="{% url tasks.views.display_portal coord.username %}">{{ coord.get_profile.name }} </a>  
<br />
{% endfor %}

<hr />
{% endblock member_list %}

{% endblock display_stuff %}

{% block update_stuff %}
<h2>Updates</h2>
{% include "tasks/display_updates.html" %}
{% endblock update_stuff %}


{% block shout_stuff %}
<h2>shouts</h2>
{% include "tasks/vivek_shout.html" %}

{% endblock shout_stuff %}
