{% extends "base_portal.html" %}

{% block title %}
{{ block.super }} 
Department Portal | {{ po_dept_name }} 
{% endblock title %}

{% block content-heading %}
<div class="content-heading">
  <h1>Portal - {{ po_dept_name }} Department </h1>
</div>
{% endblock content-heading %}

{% block tabs %}
<div class="tabbable span12">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#tabs1" data-toggle="tab">Timeline</a></li>
									
									<li><a href="#tabs2" data-toggle="tab">Members</a></li>
									<li><a href="#tabs3" data-toggle="tab">Updates</a></li>
								
									<li><a href="#tabs4" data-toggle="tab">Shout!</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tabs1">

    {% include "tasks/timeline.html" %}
  </div>
  <div class="tab-pane" id="tabs2">
    <h2>Members of your Department</h2>
    <h3>Cores</h3>
    {% for core in dept_cores_list %}
    <a href="{% url users.views.view_profile owner_name=core.username %}">{{ core.get_profile.name }} </a>  
    <br />
    {% endfor %}

    <h3>Coords</h3>
    {% for coord in dept_coords_list %}
    <a href="{% url users.views.view_profile owner_name=coord.username %}">{{ coord.get_profile.name }} </a>  
    <br />
    {% endfor %}
  </div>
  <div class="tab-pane" id="tabs3">
    <h2>Updates</h2>
    {% include "tasks/display_updates.html" %}
  </div>
  <div class="tab-pane" id="tabs4">
    <h2>shouts</h2>
    {% include "tasks/vivek_shout.html" %}
  </div>
</div>

{% endblock tabs %}
