{% extends "tasks/base_portal.html" %}

{% block display_stuff %}
<h1>Task</h1>

<table>
  <tr>
    <th>Subject</th>
    <td> {{ curr_task.subject }} </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> {{ curr_task.description }} </td>
  </tr>
  <tr>
    <th>Proposer</th>
    <td> {{ curr_task.creator.get_profile.name }} </td>
  </tr>
  <tr>
    <th>Creation Date</th>
    <td> {{ curr_task.creation_date }} </td>
  </tr>
  <tr>
    <th>Deadline</th>
    <td> {{ curr_task.deadline }} </td>
  </tr>
  <tr>
    <th>Status</th>
    <td> {{ curr_task.status }} </td>
  </tr>
</table>

{% endblock display_stuff %}
