{% extends "base_portal.html" %}

{% block title %}
{{ block.super }} 
Task
{% endblock title %}

{% block display_stuff %}
<center><h1>Task</h1></center>

<table class="table table-striped table-bordered">
  <tr>
    <th>Subject</th>
    <td> {{ curr_task.subject }} </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> {{ curr_task.description }} </td>
  </tr>
  <tr>
    <th>Proposer</th>
    <td> {{ curr_task.creator.get_profile.name }} </td>
  </tr>
  <tr>
    <th>Creation Date</th>
    <td> {{ curr_task.creation_date }} </td>
  </tr>
  <tr>
    <th>Deadline</th>
    <td> {{ curr_task.deadline }} </td>
  </tr>
  <tr>
    <th>Status</th>
    <td> {{ curr_task.status }} </td>
  </tr>
</table>

{% include "tasks/comments.html" %}

{% for curr_subtask in curr_task.subtask_set.all %}
<br />
<center><h2>SubTask {{ forloop.counter }} </h2></center>
{% with subtask.subtaskcomment_set.all as comments %}
{% include "tasks/subtask_template.html" %}
{% endwith %}
{% endfor %}

{% endblock display_stuff %}
