<style>
#id_comment_string {
    width: 350px;
    height: 30px;
}
</style>
<div class="row">
{% if updates %}
<table class="table bordered span6">
  <tr>
    <th>Message</th>
    <th>Time</th>
    {% if po_is_core %}
    <th>Author</th>
    {% endif %}
  </tr>
  {% for update in updates %}
  <tr>
    <td>{{ update.comment_string }}</td>
    <td>{{ update.time_stamp }}</td>
    {% if po_is_core %}
    <td>{{ update.author.get_profile.name }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<h4>No Updates Yet</h4>
{% endif %}
</div>
