{% extends "tasks/portal_common.html" %}

{% block form_stuff %}

{% if is_new_task %}
<h2>Create a New Task</h2>
{% else %}
<h2>Edit Task</h2>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th>Department: </th>
      <td>{{ user.get_profile.department.Dept_Name }} </td>
    </tr>
    {{ task_form.as_table }}
  </table>
  <hr>
  <h3>Subtasks</h3>
  <p>Fill as many Subtasks as you want</p>
  <table>
    {{ subtaskfs.management_form }}
    {% for form in subtaskfs.forms %}
    <h4>Subtask {{ forloop.counter }}</h4>
    <table>
      {{ form.as_table }}
    </table>
    {% endfor %}
  </table>
  <table>
    <tr>
      <td>
	{% if is_new_task %}
	<input type="submit" name = "Create" value="Create" />
	{% else %}
	<input type="submit" name = "Edit" value= "Submit" />
	{% endif %}
      </td>
      <td>
	<input type="hidden" name="next" value="../../home" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}

