{% extends "base_portal.html" %}

{% block title %}
{{ block.super }} 

{% if is_new_task %}
Create a New Task
{% else %}
Edit Task
{% endif %}
{% endblock title %}

{% block form_stuff %}
<link href="{{ MEDIA_URL }}css/datepicker.css" rel="stylesheet">
<div align="center">
  <div class="rbroundbox"> 
    <div class="rbtop">
      <div>
	<div>
	</div>
      </div>
    </div>
    <div class="rbcontentwrap"> 
      <div class="rbcontent"> 
	{% if is_new_task %}
	<h2>Create a New Task</h2>
	{% else %}
	<h2>Edit Task</h2>
	{% endif %}
      </div>
    </div>
    <!-- /rbcontent --> 
    <div class="rbbot">
      <div>
	<div>
	</div>
      </div>
    </div> 
  </div>
  <!-- /rbroundbox --> 

  {# The Template Form (hidden) #}
  <div class="template-form">   
    <div class="rbroundbox">
      <div class="rbtop">
    	<div>
    	  <div>
    	  </div>
    	</div>
      </div>
      <div class="rbcontentwrap">
    	<div class="rbcontent">
	  {% include "tasks/subtask_form.html" %}
    	</div>
      </div>
      <!-- /rbcontent -->
      <div class="rbbot">
    	<div>
    	  <div>
    	  </div>
    	</div>
      </div>
    </div>
    <!-- /rbroundbox --> 
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <div class="rbroundbox"> 
      <div class="rbtop">
	<div>
	  <div>
	  </div>
	</div>
      </div>
      <div class="rbcontentwrap"> 
	<div class="rbcontent"> 
<div class="well">
	  <table cellpadding="4">
	    {% if is_new_task %}
	    <tr>
	      <th>Department: </th>
	      <td>{{ user_dept_name }} </td>
	    </tr>
	    <tr>
	      <th>Creator: </th>
	      <td>{{ user_name }} </td>
	    </tr>
	    {% else %}
	    <tr>
	      <th>Department: </th>
	      <td>{{ curr_task.creator.get_profile.department.Dept_Name }} </td>
	    </tr>
	    <tr>
	      <th>Creator: </th>
	      <td>{{ curr_task.creator.get_profile.name }} </td>
	    </tr>
	    {% endif %}
	    {{ task_form.as_table }}
	  </table>
</div>
	</div>
      </div>
      <!-- /rbcontent --> 
      <div class="rbbot">
	<div>
	  <div>
	  </div>
	</div>
      </div> 
    </div>
    <!-- /rbroundbox --> 

<div class="accordion" id="task_accordion">
<div class="accordion-group">
    <!--Comments-->
    <div class="accordion-heading">
        {% if not is_new_task %} 
        <a class="accordion-toggle" href="#comments" data-parent="task_accordion" data-toggle="collapse"><h2 style="color: rgb(50,50,50);">Comments</h2></a>
        {% endif %}
        {% if is_new_task %} 
        <a class="accordion-toggle" href="#comments" data-parent="task_accordion" data-toggle="collapse"><h2 style="color: rgb(50,50,50);">Add Comment</h2></a>
        {% endif %}
    </div>

    <div id="comments" class="accordion-body collapse">
        <div class="accordion" id="comments">

            <div class="well">
                {% include "tasks/comments.html" %}
            </div> 
                 
        </div>
    </div>        
    <!--End of Comments-->

{% if not is_new_task %}  
    <!--Subtasks-->
    <div class="accordion-heading">
        <a class="accordion-toggle" href="#subtasks" data-parent="task_accordion" data-toggle="collapse" ><h2 style="color: rgb(50,50,50);">Edit Subtasks</h2></a>
    </div>

    <div id="subtasks" class="accordion-body collapse">
        <div class="accordion" id="subtasks">

{# Display existing subtasks for convenience #}

{% if curr_subtasks %}
<br />
<table class="table table-bordered" >
  <tr>
    <th>Subject</th>
    <th>Creation Date</th>
    <th>Department</th>    
    <th>Deadline</th>
    <th>Status</th>    
  </tr>
  {% for curr_subtask in curr_subtasks %}
  <tr>
    <td> {{ curr_subtask.subject }} </td>
    <td> {{ curr_subtask.creation_date }} </td>    
    <td> {{ curr_subtask.department}} </td>
    <td> {{ curr_subtask.deadline }} </td>
    {% if curr_subtask.status == "O" %}
		<td><span class="label label-warning">Open</span></td>
	{% endif %}
	{% if curr_subtask.status == "C" %}
		<td><span class="label label-success">Completed</span></td>	
	{% endif %}
	{% if curr_subtask.status == "L" %}
		<td><span class="label label-important">Overdue</span></td>
	{% endif %}
	{% if curr_subtask.status == "N" %}
		<td><span class="label label-info">Almost</span></td>
	{% endif %}    
  </tr>
  {% endfor %}
</table>
{% else %}
There are no subtasks for this task yet.
{% endif %}

{% endif %}
    
    <div class="rbroundbox"> 
      <div class="rbtop">
	<div>
	  <div>
	  </div>
	</div>
      </div>
      <div class="rbcontentwrap"> 
	<div class="rbcontent"> 
    {% if is_new_task %}<h2>Subtasks</h2>{% endif %}
	  <!-- <p>Fill as many Subtasks as you want</p> -->
	</div>
      </div>
      <!-- /rbcontent --> 
      <div class="rbbot">
	<div>
	  <div>
	  </div>
	</div>
      </div> 
    </div>    
    <!-- /rbroundbox -->
<br>
    {{ subtaskfs.management_form }}
    {% for form in subtaskfs.forms %}

    <div class="visible-form">   
      <div class="rbroundbox">
	<div class="rbtop">
    	  <div>
    	    <div>
    	    </div>
    	  </div>
	</div>

	<div class="rbcontentwrap">
    	  <div class="rbcontent">
	    {% include "tasks/subtask_form.html" %}
    	  </div>
	</div>
	<!-- /rbcontent -->
	<div class="rbbot">
    	  <div>
    	    <div>
    	    </div>
    	  </div>
	</div>
      </div>
      <!-- /rbroundbox --> 
    </div>

    {% endfor %}


    <a href="#" id="add">Add a SubTask</a>
               
        </div>
    </div>        
    <!--End of Subtasks-->
    
    <table>
      <tr>
	<td>
	  {% if is_new_task %}
	  <input type="submit" name = "Create" value="Create" />
	  {% else %}
	  <input type="submit" name = "Edit" value= "Submit" />
	  {% endif %}
	</td>
	<td>
	  <input type="hidden" name="next" value="../../home" />
	</td>
      </tr>
    </table>
  </form>
</div>
{% endblock form_stuff %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_task");
    var e = document.getElementById("li_task_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
    
    $('#id_subtask_set-TOTAL_FORMS').val(($('[id^=id_subtask_set]')   //'#id_subtask_set-TOTAL_FORMS' value doesn't reset on page refresh, messing up subtask numbering for the formset.
                                    .filter('[id$=subject]')          //This code corrects it.
                                    .filter(function(){
                                        if ($(this).val()) {
                                            return true;
                                        }})
                                    .length));                       //end of '#id_subtask_set-TOTAL_FORMS' correction code.
    
    $('[id$=deadline]').each(function() {
        if ($(this).val()) //django default format of year-month-date
        { 
            if ($(this).val().indexOf("/")==-1)                //following code must execute only if date isn't of mm/dd/yyyy format
            {
                var splitdate = $(this).val().split("-");
                $(this).val(splitdate[1] + "/" + splitdate[2] + "/" + splitdate[0]); //display in datepicker format of month/date/year
            }
        }
        else
            $(this).val("08/01/2012"); //Date set: Aug 1st, 2012. Set a date close to usage date for easier navigation
    });
 });
</script>
<script src="js/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function(){
    window.prettyPrint && prettyPrint();
    $('[id$=deadline]').datepicker({
        format: 'mm/dd/yyyy' //save mm dd yyyy format as django takes first bit as month and next as date
    });
});
</script>

<script type="text/javascript">  //initialise django-chosen
{% for form in subtaskfs.forms %}
val={{ forloop.counter }}-1;
$("#id_subtask_set-" + val + "-department").chosen();
$("#id_subtask_set-" + val + "-coords").chosen();
{% endfor %}
</script>

{% endblock javascript %}
