{% extends "tasks/base_portal.html" %}

{% block form_stuff %}

{% if is_new_task %}
<h2>Create a New Task</h2>
{% else %}
<h2>Edit Task</h2>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {% if is_new_task %}
    <tr>
      <th>Department: </th>
      <td>{{ user.get_profile.department.Dept_Name }} </td>
    </tr>
    <tr>
      <th>Creator: </th>
      <td>{{ user.get_profile.name }} </td>
    </tr>
    {% else %}
    <tr>
      <th>Department: </th>
      <td>{{ curr_task.creator.get_profile.department.Dept_Name }} </td>
    </tr>
    <tr>
      <th>Creator: </th>
      <td>{{ curr_task.creator.get_profile.name }} </td>
    </tr>
    {% endif %}
    {{ task_form.as_table }}
  </table>
  <hr>
  <h3>Subtasks</h3>
  <p>Fill as many Subtasks as you want</p>
  <table>
    {{ subtaskfs.management_form }}
    {% for form in subtaskfs.forms %}
    <h4>Subtask {{ forloop.counter }}</h4>
    <div class="item">    
      <table>
	{{ form.as_table }}
      </table>
      <p style=""><a class="delete" href="#">Delete</a></p>
    </div>
    {% endfor %}
    <p><a id="add" href="#">Add another item</a></p>
  </table>
  <table>
    <tr>
      <td>
	{% if is_new_task %}
	<input type="submit" name = "Create" value="Create" />
	{% else %}
	<input type="submit" name = "Edit" value= "Submit" />
	{% endif %}
      </td>
      <td>
	<input type="hidden" name="next" value="../../home" />
      </td>
    </tr>
  </table>
</form>
{% endblock form_stuff %}

