{% extends "home.html" %}

{% block body %}

<!--PHP SESS_ID : {{ session_keys }} </br>--->
<!--DJANGO SESS ID : {{ key }} </br>-->
<!---{{variables}} </br>--->
{% if user.is_anonymous %}
Please Login <a href="{{SITE_URL}}/home/login/">here</a>
<br />
Register before logging in.
Register <a href="{{SITE_URL}}/users/register/">here</a>
{% endif %}

{% if user.is_authenticated %}
<span style="font-size:200%;">* </span>
Welcome {{ user.username }}, to Erp. 

{% block portal_stuff %}

{% endblock %}

{% block display_stuff %}

{% endblock %}

{% endif %}

{% block form_stuff %}

{% endblock %}


<form action="{{SITE_URL}}/dashboard/documents/" method="POST">
  {% csrf_token %}
<input type = "submit" name="documents" value="My Documents">
</form>


{% endblock %}
