<style type="text/css">
	#shoutbox {
		position: relative;
		top: 10px;
		overflow: auto;
		height: 350px;
	}
	#shoutbox_heading {
		position: relative;
		font-family: Arial;
		font-size: 28px;
	}
	#add_shoutbox {
		position: relative;
	}

	#comment {
		font-weight: 300;
		font-size: 88%
	}

	#id_comments {
		height: 30px;
		width: 350px;
	}
</style>
{# load dajaxice_templatetags #}
    {# dajaxice_js_import #}
    <script src="/dajaxice/dajaxice.core.js" type="text/javascript" charset="utf-8"></script>

<div class="row">
    <div id="shoutbox" class="well span6">
        <!--We have to reload this area-->

        {% include "tasks/shoutbox.html" %}
        <!--We have to reload this area-->
    </div>
</div>
<div class="row">
    <div id="add_shoutbox" class="span6">
        <script type="text/javascript">
			function shout() {
				shout_text = $("#id_comments").val()
				if (shout_text == '') {
					$(".alert").show();
					exit
				}
				$("#shout_button").html('Shouting...')
				$("#id_comments").val('')
				Dajaxice.tasks.shout(Dajax.process, {
					'shout' : shout_text
				});
			}

        </script>

        {% if not is_visitor %}
        <center>
            <textarea id="id_comments" rows="10" cols="40" name="comments"></textarea>
            <button id ="shout_button" class = "btn btn-inverse btn-large" onclick="shout();">
                Shout!
            </button>
        </center>

        <center>
            <div class="alert alert-error span2 offset1 hide">
                <center>
                    <strong> Your shout is blank! </strong>
                </center>
            </div>
        </center>
     

        </form>
        {% endif %}
    </div>
</div>

