<table class="table table-bordered">
  <tr>
    <th>Subject</th>
    <td> {{ curr_subtask.subject }} </td>
  </tr>
  <tr>
    <th>Department</th>
    <td> {{ curr_subtask.department}} </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> {{ curr_subtask.description }} </td>
  </tr>
  <tr>
    <th>Proposed by</th>
    <td> {{ curr_subtask.creator.get_profile.name }} </td>
  </tr>
  <tr>
    <th>Proposing Dept </th>
    <td> {{ curr_subtask.creator.get_profile.department.Dept_Name }} </td>
  </tr>
  <tr>
    <th>Creation Date</th>
    <td> {{ curr_subtask.creation_date }} </td>
  </tr>
  <tr>
    <th>Deadline</th>
    <td> {{ curr_subtask.deadline }} </td>
  </tr>
  <tr>
    <th>Status</th>
    <td> {{ curr_subtask.status }} </td>
  </tr>
</table>

{% include "tasks/subtask_comments.html" %}
