<table class="table table-bordered">
  <tr>
    <th>Subject</th>
    <td><a href="{% url tasks.views.edit_subtask subtask_id=curr_subtask.id owner_name=page_owner %}">{{ curr_subtask.subject }}</a></td>
  </tr>
  <tr>
    <th>Department</th>
    <td> {{ curr_subtask.department}} </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> {{ curr_subtask.description }} </td>
  </tr>
  <tr>
    <th>Proposed by</th>
    <td>
        <a href="{% url users.views.view_profile owner_name=curr_subtask.creator.username %}">{{ curr_subtask.creator.get_profile.name }}</a>
    </td>
  </tr>
  <tr>
    <th>Proposing Dept </th>
    <td> {{ curr_subtask.creator.get_profile.department.Dept_Name }} </td>
  </tr>
  <tr>
    <th>Creation Date</th>
    <td> {{ curr_subtask.creation_date }} </td>
  </tr>
  <tr>
    <th>Deadline</th>
    <td> {{ curr_subtask.deadline }} </td>
  </tr>
  <tr>
    <th>Status</th>
    {% if curr_subtask.status == "O" %}
		<td><span class="label label-warning">Open</span></td>
	{% endif %}
	{% if curr_subtask.status == "C" %}
		<td><span class="label label-success">Completed</span></td>	
	{% endif %}
	{% if curr_subtask.status == "L" %}
		<td><span class="label label-important">Overdue</span></td>
	{% endif %}
	{% if curr_subtask.status == "N" %}
		<td><span class="label label-info">Almost</span></td>
	{% endif %}
  </tr>
</table>

{% include "tasks/comments.html" %}
