<h2>Timeline for {{ po_dept_name }} Department</h2>
<p>List of all Tasks in your Department</p>
{% if all_Tasks %}
<table class="table table-striped table-bordered span7">
  <thead>
  <tr>
    <th>Subject</th>
    <th>Creator</th>
    <th>Deadline</th>
    <th>Status</th>
    {% if po_is_core %}
    <th>Comments</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for task in all_Tasks %}
  <tr>
    <td>
      <a href="{% url tasks.views.edit_task task_id=task.id owner_name=page_owner %}">{{ task.subject }}</a>
    </td>
    <td> {{ task.creator.get_profile.name }} </td>
    <td> {{ task.deadline }} </td>
    <td> {{ task.status }} </td>
    {% if po_is_core %}
    
        <td>
        <div class="accordion" id="timeline_comments_{{ task.id }}_accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="#timeline_comments_{{ task.id }}" data-parent="contact_accordion" data-toggle="collapse" onclick=showComments("timeline","{{task.id}}");>
                        <i class="icon-plus-sign" id="timeline_comments_{{ task.id }}_icon" style="margin-top:1px;"></i> <span id="timeline_comments_{{ task.id }}_text">Show</span>
                    </a>
                </div>
                <div id="timeline_comments_{{ task.id }}" class="accordion-body collapse">
                {% for comment in task.taskcomment_set.all %}
                <ul>
                <li>"{{ comment.comment_string }}"<br/>- <a href="{% url users.views.view_profile owner_name=comment.author.username %}">{{ comment.author.get_profile.name }}</a></li>
                </ul>    
                {% endfor %}
                </div>
            </div>
        </div>
        </td>
            
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h4>No Tasks have been set in your Department yet.</h4>
{% endif %}


