{% if is_coord %}

{% if update_status == 'Success' %}
<h3> The message has been sent to the core </h3>
{% endif %}

{% if update_status == 'Failed' %}
<h2> We are unable to process your request. </h2>
{% endif %}

{% if update_status == 'Blank' %}
<!-- Enter something if required -->
{% endif %}

{% endif %}

{% if is_core %}
<h2>Updates in {{ user_dept_name }}  Department</h2>
{% else %}
<h2>Your previous Updates</h2>
{% endif %}

{% if updates %}
<table>
  <tr>
    <th>Message</th>
    <th>Time</th>
    {% if is_core %}
    <th>Author</th>
    {% endif %}
  </tr>
  {% for update in updates %}
  <tr>
    <td> {{ update.message_string }} </td>
    <td> {{ update.time_stamp }} </td>
    {% if is_core %}
    <td> {{ update.coord.get_profile.name }} </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<h3>No Updates Yet</h3>
{% endif %}


<hr>

{% if is_coord %}
<h2>Send an Update to the Core</h2>
<form method="POST" action="./">
  {% csrf_token %}
  <table>
    {{ update_form }}
  </table>
  <input type = "submit" value="Submit">
</form>

{% endif %}

