{% if po_is_coord %}

{% if update_status == 'Success' %}
<h3> The message has been sent to the core </h3>
{% endif %}

{% if update_status == 'Failed' %}
<h2> We are unable to process your request. </h2>
{% endif %}

{% if update_status == 'Blank' %}
<!-- Enter something if required -->
{% endif %}

{% endif %}

{% if po_is_core %}
<h2>Updates in {{ po_dept_name }}  Department</h2>
{% else %}
{% if po_is_coord and is_visitor %}
<h2>{{ po_name }}'s previous Updates </h2>
{% else %}
<h2>Your previous Updates</h2>
{% endif %}
{% endif %}

{% include "tasks/display_updates.html" %}

{% if po_is_coord and not is_visitor %}
<h2>Send an Update to the Core</h2>
  <form action="" method="post">
  {% csrf_token %}
  {{ update_form.non_field_errors }}
  {{ update_form.comment_string.errors }}
  <label for="id_comment_string">Update:</label>
    {{ update_form.comment_string }}
  <input type = "submit" class="btn btn-primary btn-large" value="Submit">
  </form>
</div>
{% endif %}

