{% if is_coord %}

{% if update_status == 'Success' %}
<h3> The message has been sent to the core </h3>
{% endif %}

{% if update_status == 'Failed' %}
<h2> We are unable to process your request. </h2>
{% endif %}

{% if update_status == 'Blank' %}
<!-- Enter something if required -->
{% endif %}

{% endif %}

{% if is_core %}
<h2>Updates in {{ user_dept_name }}  Department</h2>
{% else %}
<h2>Your previous Updates</h2>
{% endif %}

{% include "tasks/display_updates.html" %}

{% if is_coord %}
<h2>Send an Update to the Core</h2>
<form method="POST" action="./">
  {% csrf_token %}
  <table>
    {{ update_form }}
  </table>
  <input type = "submit" value="Submit">
</form>

{% endif %}

