<style type="text/css">
	#shoutbox {
		position: relative;
		top: 10px;
		overflow: auto;
		height: 320px;
    }
	#shoutbox_heading {
		position: relative;
		font-family: Arial;
		font-size: 28px;
	}
	#add_shoutbox {
		position: relative;
		top: 20px;
	}

	#nickname {
		font-weight: 800;
		font-size: 98%;
	}

	#comment {
		font-weight: 300;
		font-size: 88%
	}
	
	#id_comments {
	    height:30px;
	    width:350px;
	}
</style>

<h2>Shouts</h2>
<div class="row">
<div id="shoutbox" class="well span6">

    <table>
        {% for field in shouts %}
        <tr>
            <td id="shouterts name"><span id="nickname" ><a href="{% url users.views.view_profile owner_name=field.user%}">{{field.nickname}}</a>: </span> &nbsp; </td>
            <td><span id="comment" >{{field.comments}}</span></td>
            <td></td>
        </tr>
        {% endfor %}

    </table>
</div>
</div>
<div class="row">
<div id="add_shoutbox" class="span6">
{% if not is_visitor %}

<form method="POST" action="./">
  {% csrf_token %}

{{ shout_form }}
<input type="submit" class="btn btn-primary btn-large" value="Shout">

</form>
{% endif %}
</div>
</div>
