<style type="text/css">
	#shoutbox {
		position: relative;
		top: 10px;
		overflow: auto;
		height: 350px;
    }
	#shoutbox_heading {
		position: relative;
		font-family: Arial;
		font-size: 28px;
	}
	#add_shoutbox {
		position: relative;
	}

	#nickname {
		font-weight: 800;
		font-size: 98%;
	}

	#comment {
		font-weight: 300;
		font-size: 88%
	}
	
	#id_comments {
	    height:30px;
	    width:350px;
	}
</style>
{% load dajaxice_templatetags %}
<div class="row">
<div id="shoutbox" class="well span6">
<!--We have to reload this area-->
    
    <table>
        {% for field in shouts %}
        <tr>
            <td id="shouterts name"><span id="nickname" ><a href="{% url users.views.view_profile owner_name=field.user%}">{{field.user}}</a>: </span> &nbsp; </td>
            <td><span id="comment" >{{field.comments}}</span></td>
            <td></td>
        </tr>
        {% endfor %}

    </table>

<!--We have to reload this area-->
{% dajaxice_js_import %}
</div>
</div>
<div class="row">
<div id="add_shoutbox" class="span6">
<script type="text/javascript">

    function shout(){
        shout_text=document.getElementById("id_comments").value
        alert(shout_text)
        document.getElementById("id_comments").value = 'Loading'
        Dajaxice.tasks.shout(Dajax.process,{'shout':shout_text});
    }
    
</script>


{% if not is_visitor %}

<textarea id="id_comments" rows="10" cols="40" name="comments"></textarea>
<button class = "btn btn-inverse btn-large" onclick="shout();">Shout!</button>
<!--<input type="submit" class="btn btn-primary btn-large" value="Shout">-->

</form>
{% endif %}
</div>
</div>

