{% extends "base_portal.html" %}
{% block body %}

<h3>Feedback for {{curr_feedbackuser_userprofile.name}}</h3>
{% for question in questions %}
	

	<b>{{question.question}}</b><br>
{% for question1 in question_no_answer %}
	{% if question == question1 %}
		<div class="btn-group">
	
			{% for i in rating_choice %}
				<a  class="btn " href="{% url feedback.views.answer_questions userprofile_id=userprofile_id question_id=question.id rating=i owner_name=request.user %}" >{{i}}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}

	{% for answer in answers %}
			{% if answer.question == question %}
				{% if answer.creator == curr_userprofile %}
					{% if answer.owner == curr_feedbackuser_userprofile %}
						
						<div class="btn-group">
							{% for i in rating_choice %}
								{% if i == answer.rating %}
									<a  class="btn btn-info" href="{% url feedback.views.answer_questions userprofile_id=userprofile_id question_id=question.id rating=i owner_name=request.user %}" >{{i}}</a>
								{% else %}
									<a  class="btn" href="{% url feedback.views.answer_questions userprofile_id=userprofile_id question_id=question.id rating=i owner_name=request.user %}" >{{i}}</a>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endif %}
			{% else %}
			{% endif %}
	{% endfor %}



</br>


{% endfor %}
<br>
<a  class="btn btn-info" href="{% url feedback.views.answer owner_name=request.user %}" >Done</a>
{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
{% endblock %}
{% block display_stuff %}
{% endblock %}
