{% extends "base_portal.html" %}
{% block body %}
{% if not is_core1 %}<h6><a href="{% url feedback.views.review %}">SEE WHAT THE OTHERS HAVE TO TELL ABOUT ME!</a></h6>{% endif %}
{% if qms_core %}<h6><a href="{% url feedback.views.review %}">SEE COORD REVIEWS!</a></h6>{% endif %}
<br>
{% if user_coord %}
<h4>GIVE FEEDBACK FOR THE CORES OF YOUR DEPARTMENT</h4><br>
{% for core in core_profiles %}
	<a href="{% url feedback.views.answer_questions userprofile_id=core.id question_id=0 rating=20 %}">{{core.name}}</a></br></br>
{% endfor %}
{% endif %}
<br>
<h4>GIVE FEEDBACK FOR THE COORDINATORS IN YOUR DEPARTMENT</h4><br>
{% for coord in coord_profiles %}
	<a href="{% url feedback.views.answer_questions userprofile_id=coord.id question_id=0 rating=20 %}">{{coord.name}}</a></br></br>
{% endfor %}

{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
{% endblock %}
{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_feedback");
    var e = document.getElementById("li_feedback_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
