{% extends "base_portal.html" %}
{% block body %}
{{ block.super }}
{% if qms_core %}
<a class="btn btn-primary pull-right" href="{% url feedback.views.display question_for=question_for %}">SEE ALL QUESTIONS</a><br>
{% endif %}

{% if qms_coord %}
<a class="btn btn-primary pull-right" href="{% url feedback.views.display question_for=question_for%}">SEE ALL QUESTIONS</a><br>
{% endif %}
<br>
<form class="well" action="" method="POST">
<h3>Add Question </h3><br>
	{% csrf_token %}
	<table>
		{{questionform.as_table}}
    </table>		
	<br><br>	
	<input type="submit" value="Save"/>
    </form>
{% if question_added %}
<p><h4> Question added successfully, you can add another now!</h4></p>
{% endif %}
{% if error %}
<p><h4> Error: Please check your data</h4></p>
{% endif %}
{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>

<script type="text/javascript">  //initialise django-chosen
$(document).ready(function() {
    $('select').chosen();
});
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}
