{% extends "base_portal.html" %}
{% block body %}
{% if qms_core %}
<a class="pull-right" href="{% url feedback.views.display question_for=question_for %}">See all questions</a>
{% endif %}

{% if qms_coord %}
<a class="pull-right" href="{% url feedback.views.display question_for=question_for %}">See all questions</a>
{% endif %}
<center><h1>Add Question </h1></center>
<form class="well" action="" method="POST">
	{% csrf_token %}
	<table>
		{{questionform.as_table}}
	</table>
	<input type="submit" value="Save"/>
    </form>
{% if question_added %}
<p><h4> Question added successfully, you can add another now!</h4></p>
{% endif %}
{% if error %}
<p><h4> Error: Please check your data</h4></p>
{% endif %}
{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
{% endblock %}
{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic-formset.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var d = document.getElementById("li_questions");
    var e = document.getElementById("li_questions_icon");
    d.className = "active";
    e.className = e.className + " icon-white";
 });
</script>
{% endblock javascript %}
{% block display_stuff %}
{% endblock %}

