{% extends "base_portal.html" %}
{% block body %}
<h4>YOUR REVIEW AS RATED BY {{curr_department}} </h4><br>
{% for q in questions %}
    {{q.question}}---
        {% for a in averages %}
            {% ifequal a.question q %}

                    {{a.avg}}

            {% endifequal %}

        {% endfor %}
<br>
{% endfor %}

{% if qms_core %}
<h4>CHOOSE DEPARTMENT </h4><br>
    {% for d in all_departments %}
    <h4><a href="{% url feedback.views.qms_review dept_id=d.id %}">{{d}}</a></h4>
    {% endfor %}
{% endif %}

{% endblock %}
{% block tabs %}
{% endblock %}
{% block form_stuff %}
{% endblock %}
{% block display_stuff %}
{% endblock %}	
